.single-page
  .single-page__header-offset
    background-color: $quaternary-color
    +padding-top(6)
    z-index: 9
    +breakpoint(tab)
      +padding-top(14)

  .single-page__header
    background-color: $quaternary-color
    +paddingX(4)
    +paddingY(2)
    position: sticky
    position: -webkit-sticky
    top: 53px
    z-index: 9
    +breakpoint(tab)
      top: 0
      +paddingX(5)
      +paddingY(3)

  .single-page__header-title,
  h1.single-page__header-title
    color: $white
    font-family: $title
    +margin-bottom(0)
    +padding-bottom(0)
    +font-size(24)
    +breakpoint(tab)
      +font-size(42)

  .page-subtitle
    h2
      +font-size(18)
      color: $white
    +breakpoint(tab)
      h2
        +font-size(24)
        color: $white

.single-page__main
  .chi-siamo-title
    +margin-top(8)
    +margin-bottom(2)
    h2
      +font-size(18)
      color: $grey_7
      font-weight: bold
    +breakpoint(tab)
      +margin-top(8)
      +margin-bottom(5)
      h2
        +font-size(24)
        color: $grey_7
        font-weight: bold

  .lista
    +margin-bottom(1)
    +margin-top(5)
    h2
      +font-size(18)
      color: $primary-color
      text-transform: uppercase
      font-weight: bold
      font-family: $title
      +padding-bottom(1)
    +breakpoint(tab)
      +margin-bottom(1)
      +margin-top(12)
      h2
        +font-size(22)
        color: $primary-color
        text-transform: uppercase
        font-weight: bold
        font-family: $title
        +padding-bottom(1)

  p
    +font-size(14)
    color: $grey_7
    font-weight: 400
    +breakpoint(tab)
      +font-size(16)

  .si-ringraziano
    +margin-top(4)
    +padding(2)
    background-color: $dark_white
    h2
      +font-size(18)
      color: $primary-color
      text-transform: uppercase
      font-weight: bold
      font-family: $title
      +padding-bottom(1)
    +breakpoint(tab)
      background-color: $dark_white
      +margin-top(8)
      +padding(2)
      max-width: 80%
      h2
        +font-size(22)
        color: $primary-color
        text-transform: uppercase
        font-weight: bold
        font-family: $title
        +padding-bottom(1)

.single-page__content
  +margin-top(8)
  @extend .single-page__main

  h2
    +font-size(18)
    color: $primary-color
    text-transform: uppercase
    font-weight: bold
    font-family: $title
    +padding-bottom(2)
    +breakpoint(tab)
      +font-size(22)
      color: $primary-color
      text-transform: uppercase
      font-weight: bold
      font-family: $title
      +padding-bottom(2)

  p
    column-count: 2
