.category-label
  background-color: $altri-eventi
  white-space: nowrap
  +font-size(11)
  +text-shadow(1px, 1px, 1px, $black, 0.2)
  font-family: $sans-serif
  display: inline-block
  +paddingY(1.25)
  +paddingX(4)
  +padding-bottom(1.5)
  border-radius: 100px
  color: $white
  text-transform: uppercase
  letter-spacing: 1px
  font-weight: 700
  min-width: 124px
  text-align: center
  line-height: 1.2

=cat-color($cat: default, $color: $grey_d)
  .mec_category-#{$cat},
  .category-#{$cat},
  .term-#{$cat}
    .single-post__header
      background-color: $color
      z-index: 9
    .single-post__header-offset
      background-color: $color
  .category-label.#{$cat}
    background-color: $color

+cat-color(altri-eventi, $altri-eventi)
+cat-color(arte, $arte)
+cat-color(cinema, $cinema)
+cat-color(cinema-e-fotografia, $cinema)
+cat-color(eventi, $eventi)
+cat-color(musica, $musica)
+cat-color(arno, $arno)
+cat-color(blog, $sun-flower)
+cat-color(eventi, $carrot)
+cat-color(festival, $festival)
+cat-color(fotografia, $orange)
+cat-color(letteratura, $letteratura)
+cat-color(letture, $peter-river)
+cat-color(periferie, $periferie)
+cat-color(primopiano, $pomegranate)
+cat-color(progetti-strategici, $progetti-strategici)
+cat-color(senza-categoria, $senzacategoria)
+cat-color(spazi-estivi, $alizarin)
+cat-color(teatro-danza, $teatrodanza)
+cat-color(teatro-e-danza, $teatrodanza)
+cat-color(tradizioni, $wisteria)
