.categories-nav
  background-color: $white
  height: 58px
  overflow-y: hidden
  +paddingY(2)
  +margin-bottom(8)

.categories-nav__wrap
  overflow-x: scroll
  -webkit-overflow-scrolling: touch
  height: 100px

.categories-nav__list
  white-space: nowrap

.categories-nav__list-single
  display: inline-block
  +marginX(1)
  .category-label
    +font-size(14)
    min-width: 154px
    text-align: center
    +transition
    &:hover
      color: $white
      opacity: .7
