.page-header
  @extend .single-post__header
  +margin-bottom(4)
  background-color: $primary-color!important

.page-header__header-offset
  @extend .single-post__header-offset
  background-color: $primary-color!important

.page-header__page-title
  color: $white

.search-content
  @extend .primary-wrap
