.single-contact__header
  @extend .single-post__header
  background-color: $dark-white!important

.single-contact__header-offset--contacts
  @extend .single-post__header-offset
  background-color: $dark-white!important

.single-contact__header-title
  @extend .single-post__header-title
  color: #6C6262!important

.single-contact__info
  h2
    +font-size(18)
    color: #6D7278
  +breakpoint(tab)
    h2
      +font-size(24)

.contact-form
  +padding-top(20)

.wpcf7-form
  .content-first-row
    +margin-bottom(5)
    p
      +margin-bottom(5)
    input
      +font-size(16)
      color: #6D7278
      border: none
      border-bottom: 2px solid $primary-color
    +breakpoint(tab)
      display: flex
      +margin-bottom(10)
      p
        +margin-bottom(0)
        &:first-child
          +margin-right(3.5)
      input
        +font-size(21)

  .content-second-row
    input
      +margin-bottom(5)
      +font-size(16)
      color: #6D7278
      border: none
      border-bottom: 2px solid $primary-color
    label
      +font-size(16)
      color: #6D7278
    textarea
      border: 2px solid $primary-color
    +breakpoint(tab)
      input
        +margin-bottom(10)
        +font-size(21)
        color: #6D7278
        border: none
        border-bottom: 2px solid $primary-color
      label
        +font-size(21)
        color: #6D7278
      textarea
        border: 2px solid $primary-color

  .acceptance
    +margin-bottom(5)
    .wpcf7-list-item
      margin: 0

    .custom-checkbox
      .custom-checkbox__icon
        width: 23px
        height: 23px

    p
      +font-size(12)
      color: $grey_7
  .submit
    input
      border: none
      border: 2px solid $primary-color
      background-color: $primary-color
      width: 100%
      +font-size(21)
      +padding(2)
      color: $white
      text-transform: uppercase
      font-weight: bold
      font-family: $title
      letter-spacing: 2px
