.events-menu
  background-color: $white
  .row__column
    &:last-child
      .events-menu__items
        border-right: none

.events-menu__items
  &.current
    pointer-events: none
    .events-menu__link
      background-color: $primary-color
      color: $white

.events-menu__link
  display: block
  cursor: pointer
  color: $black
  font-family: $title
  background-color: $dark_white
  border-right: 3px solid $white
  +paddingY(2)
  +font-size(18)
  +transition
  &:hover
    color: $black
    background-color: $grey_d
  i
    +font-size(24)
