.filter-wrap
  position: sticky
  position: -webkit-sticky
  top: 58px
  z-index: 99
  +transition
  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: -10px
    width: 10px
    height: 100%
    background-color: $white
  &.on-scroll
    +box-shadow(0, 1px, 12px, 0, $black, 0.2)
  +breakpoint(tab)
    top: -1px
