// The width of the button area
$button-width: 24px
// The height of the button area
$button-height: 28px
// The thickness of the button bars
$bar-thickness: 2px
// The left/right padding between button area and bars.
$button-pad: 0px
// The spacing between button bars
$button-bar-space: 6px
// The transition duration
$button-transistion-duration: 0.3s

.hamburger
  display: inline-block
  vertical-align: middle
  +transition()
  +breakpoint(tab)
    display: none

.hamburger__elements
  display: inline-block
  position: relative
  overflow: hidden
  +margin(1)
  padding: 0
  width: $button-width
  height: $button-height
  font-size: 0
  text-indent: -9999px
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  box-shadow: none
  border-radius: none
  border: none
  cursor: pointer
  transition: background $button-transistion-duration

.hamburger__elements
  &:hover,
  &:active,
  &:focus
    background-color: transparent
    outline: none
  span
    display: block
    position: absolute
    top: $button-height / 2 - $bar-thickness / 2
    left: $button-pad
    right: $button-pad
    height: $bar-thickness
    background: $black
    border-radius: 20px
    width: $button-width
    +transition(0.15s)
    &::after,
    &::before
      position: absolute
      display: block
      left: 0
      width: $button-width
      height: $bar-thickness
      background-color: $black
      content: ""
      border-radius: 20px
    &::before
      top: -$bar-thickness - $button-bar-space
    &::after
      bottom: -$bar-thickness - $button-bar-space

.hamburger__elements
  background-color: transparent
  span
    &::after,
    &::before
      transition-duration: $button-transistion-duration, $button-transistion-duration
      transition-delay: $button-transistion-duration, 0s
    &::before
      transition-property: top, transform
    &::after
      transition-property: bottom, transform
  &.is-active
    span
      background: none
      &::after,
      &::before
        transition-delay: 0s, $button-transistion-duration
      &::before
        top: 0
        transform: rotate(45deg)
      &::after
        bottom: 0
        transform: rotate(-45deg)
