.home-highlights
  height: auto
  position: relative
  height: 70vh
  +breakpoint(tab)
    height: 60vh

%home-highlights__article
  position: absolute
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  &:hover
    .gradient-bg
      opacity: .8

.home-highlights__article-title-wrap
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  +paddingX(2)
  +paddingY(3)
  +breakpoint(tab)
    +padding(4)
  .category-label
    +margin-bottom(1.5)

.home-highlights__article-title
  color: $white
  font-family: $title
  font-weight: 700
  +font-size(18)
  line-height: 1.2
  +padding-top(2)
  +breakpoint(desk)
    line-height: 1.1
    +padding-top(0)
    +font-size(26)

.home-highlights__article--1
  @extend %home-highlights__article
  top: 0
  left: 0
  width: 100%
  height: 55%
  border-bottom: 2px solid $white
  +breakpoint(tab)
    width: 65%
    height: 100%
    border-bottom: none
    border-right: 2px solid $white

.home-highlights__article--2
  @extend %home-highlights__article
  top: 55%
  left: 0
  height: 45%
  width: 50%
  border-right: 1px solid $white
  +breakpoint(tab)
    top: 0
    right: 0
    left: auto
    width: 35%
    height: 50%
    border-right: none
    border-left: 2px solid $white
    border-bottom: 2px solid $white

.home-highlights__article--3
  @extend %home-highlights__article
  top: 55%
  left: 50%
  width: 50%
  height: 45%
  border-left: 1px solid $white
  +breakpoint(tab)
    top: 50%
    right: 0
    left: auto
    height: 50%
    border-top: 2px solid $white
    width: 35%
    border-left: 2px solid $white

.home-highlights__article-link
  display: block
  position: relative
  height: 100%
