.home-article
  +paddingX(2)
  +breakpoint(tab)
    width: 100%
    max-width: 1330px
    margin: 0 auto
    +paddingX(4)

.home-article__top
  position: relative
  overflow: hidden
  .home-article__bg
    position: absolute
    z-index: -1
    width: 100%
    top: 0
    left: 0
    text-align: right
    +breakpoint(tab)
      transform: translateY(2%)
    img
      +breakpoint(tab)
        max-width: 20vw

.home-article__bg
  position: absolute
  z-index: -1
  width: 100%
  top: 0
  left: 0
  transform: translateY(-15%)
  img
    width: 100%

.home-article__head
  +padding-top(6)
  +padding-bottom(2)
  +breakpoint(tab)
    +padding-top(10)
    +padding-bottom(4)
  +breakpoint(desk)
    +padding-bottom(6)
  .mec-sl-calendar,
  .mec-sl-pin
    +font-size(24)
    color: $grey_7
    display: inline-block
    +padding-bottom(2)
    +breakpoint(tab)
      +font-size(28)
    +breakpoint(desk)
      +font-size(35)

.home-article__title
  +font-size(18)
  color: $secondary-color
  text-transform: uppercase
  font-weight: bold
  font-family: $title
  line-height: 1.2
  +breakpoint(tab)
    +font-size(21)
  +breakpoint(desk)
    +font-size(24)

.home-article__date
  +font-size(24)
  text-transform: uppercase
  font-family: $title
  font-weight: bold
  color: $primary-color
  line-height: 1.2
  text-shadow: 3px -3px 0px #F8EB42
  +breakpoint(tab)
    +font-size(28)
  +breakpoint(desk)
    +font-size(42)

.home-article__bottom
  position: relative
  text-align: right
  +margin-top(2)
  +padding-top(5)
  +padding-right(4)
  +breakpoint(tab)
    +padding-top(0)
    +padding-right(6)
  +breakpoint(desk)
    +margin-top(12)

.home-article__bottom-bg-illustration
  max-width: 110px
  width: 100%
  +breakpoint(tab)
    max-width: 190px
  +breakpoint(desk)
    max-width: 272px

.home-article__bottom-bg
  position: absolute
  z-index: -1
  width: 100%
  top: 0
  left: 0
  transform: translateY(-50%)
  img
    width: 100%

.home-article__btn
  position: absolute
  top: 20%
  a
    +font-size(18)
    +paddingX(3)
    font-family: $title
    background-color: $primary-color

.home-article__second-head
  +padding-top(9)

.hide
  display: none
