.main-sidebar__logo
  +padding-bottom(5)
  display: none
  +breakpoint(tab)
    display: block

.main-sidebar
  transform: translateX(-100%)
  +transition
  position: fixed
  bottom: 0
  left: 0
  width: 64%
  height: calc(100% - 58px)
  z-index: 99
  +padding(4)
  +transition
  +breakpoint(tab)
    height: 100%
    width: 200px
    transform: translateX(0)
  &.opened
    transform: translateX(0)
    background-color: $white
    z-index: 999
  .social__link
    // color: $black
    .iconae
      color: $primary-color
      +font-size(24)


.main-sidebar__bottom
  position: absolute
  bottom: 0
  left: 0
  width: 100%

.main-sidebar__firenze
  +paddingY(2)

.main-sidebar__search
  text-align: center
  background-color: $primary-color
  color: $white
  font-family: $title
  cursor: pointer
  display: none
  +font-size(18)
  +paddingY(2)
  +paddingX(2)
  +transition
  +breakpoint(tab)
    display: block
  &:hover
    background-color: $hover-primary-color
  .iconae
    +padding-right(1)
    color: $white

.main-sidebar__bottom-locandine
  font-family: $title
  color: $primary-color
  display: block
  text-align: center
  +paddingY(1)
  +font-size(19)
  font-weight: 700
  line-height: 1.4
  +transition
  &:hover
    color: $hover-primary-color
