.primary-menu
  +padding-bottom(4)

.primary-menu__item
  a
    font-family: $title
    color: $primary-color
    +font-size(24)
    font-weight: 700
    line-height: 1.4
    +transition
    &:hover
      color: $hover-primary-color

.primary-menu__item--active
  @extend .primary-menu__item
  pointer-events: none
  a
    text-shadow: 2px -2px 0px #F8EB42

.primary-menu__item--locandine
  +margin-top(3)
  a
    +font-size(20)
