html
  body
    .entry-content .mec-wrap h1, .entry-content .mec-wrap h2, .entry-content .mec-wrap h3, .entry-content .mec-wrap h4, .entry-content .mec-wrap h5, .entry-content .mec-wrap h6, .mec-wrap h1, .mec-wrap h2, .mec-wrap h3, .mec-wrap h4, .mec-wrap h5, .mec-wrap h6
      font-family: $sans-serif
    .mec-wrap,
    .mec-wrap div
      font-family: inherit
    .row.mec-row
      letter-spacing: normal
    .mec-events-meta-group-tags
      display: none !important
    .mec-wrap
      h3
        font-family: $sans-serif
      h2
        font-weight: 400
        +font-size(18)

      .mec-month-divider
        span
          border: none
          font-family: $sans-serif
          +font-size(24)
          text-transform: uppercase
          font-family: $title
          font-weight: bold
          color: $grey_7
          line-height: 1.2
          +breakpoint(tab)
            +font-size(28)
          +breakpoint(desk)
            +font-size(32)
        span:before
          border: none

    .mec-single-event
      +margin-top(0)

    .mec-single-event .col-md-8 .mec-frontbox
      background-color: transparent
      border: none
      +margin(0)
      +padding(0)
      +padding-top(0)
      +margin-bottom(0)

    .mec-single-event .single-post__sidebar .mec-frontbox
      background-color: #f7f7f7
      border: none
      +margin(0)
      +padding(0)
      +padding-top(3)
      +margin-bottom(4)
    .mec-single-event .mec-event-export-module.mec-frontbox .mec-event-exporting .mec-export-details ul
      display: block
      +padding(0)
      +margin(0)
      letter-spacing: -0.3333em
      li
        display: block
        width: 100%
        letter-spacing: 0
        +margin-bottom(1)
        +breakpoint(tab)
          display: inline-block
          width: 50%
          +margin-bottom(0)
        a
          display: block
          border: none
          background-color: $primary-color
          color: $white
          font-family: $sans-serif
          +font-size(16)
          text-align: center
          +breakpoint(desk)
            +font-size(18)
          &:hover
            border: none
            background-color: $hover-primary-color
            color: $white
    .mec-single-event
      .single-post__sidebar
        +margin-bottom(10)
        width: 100%
        +breakpoint(tab)
          width: 33.3333333%
        .mec-event-meta
          .mec-single-event-meta-block
            +margin-bottom(0)
            +padding-bottom(3)
            +paddingX(4.5)
            .mec-organizer
              font-family: $sans-serif
              i
                +margin(0)
                +padding(0)
                position: relative
                top: 4px
              h6
                font-family: $sans-serif
                padding-left: 10px
                +font-size(14)
                color: #8d8d8d
                text-transform: none
                font-weight: 400
          h3
            color: $primary-color
            +font-size(18)
          i:before
            color: $primary-color
            +font-size(22)
          .mec-booking-button
            background-color: $primary-color
            color: $white
            +font-size(18)
            height: auto
            +paddingY(1.5)
            &:hover
              background-color: $hover-primary-color !important
            i:before
              color: $white
              display: inline-block
              +padding-right(1)

    .mec-calendar
      .mec-calendar-topsec
        display: flex
        flex-direction: column
        height: auto
        +breakpoint(desk)
          flex-direction: row
          height: 80vh

      .mec-calendar-side
        width: unset

      .mec-calendar-events-side
        overflow-y: scroll

      .mec-calendar-row
        dt
          &.mec-has-event
            &:hover
              background-color: $dark_white
              a.mec-has-event-a
                color: $black

      .mec-event-article
        display: flex
        .mec-event-image
          +breakpoint(desk)
            float: unset
            width: unset

        .mec-event-time
          +font-size(14)
          padding-bottom: 10px
          color: $primary-color
          .mec-sl-clock-o
            +padding-right(0.5)
            +padding-top(1)

        .category-label
          line-height: 1.4
          margin-right: 4px

        .mec-event-title
          a
            +font-size(15)
            text-transform: none
            font-weight: normal
            &:hover
              color: $primary-color
            +breakpoint(desk)
              +font-size(18)

        .mec-event-detail
          +font-size(14)
          color: $grey_7
          .mec-sl-location-pin
            +padding-right(1)
            +padding-top(1)

      .mec-calendar-events-side
        .mec-table-side-day
          color: $primary-color
          border: 1px solid $primary-color

        .mec-table-side-title
          +font-size(15)
          font-family: $title
          letter-spacing: normal
          font-weight: bold
          +breakpoint(desk)
            +font-size(18)

      .mec-selected-day
        background-color: $primary-color

      dl.mec-calendar-row
        dt.mec-has-event:after
          background-color: $primary-color

      dl.mec-calendar-row
        dt.mec-has-event:hover:after
          background-color: $primary-color

      .mec-calendar-side
        .mec-previous-month
          &:hover
            color: $primary-color
          i
            color: $primary-color

        .mec-next-month
          &:hover
            color: $primary-color
          i
            color: $primary-color

    .mec-wrap
      .mec-load-more-wrap
        .mec-load-more-button
          background-color: $white
          border-color: $white
          &:hover
            background-color: $primary-color
            border-color: $primary-color
            color: $white

    .mec-wrap
      .mec-events-meta-group-gmap
        .mec-map-get-direction-btn-cnt
          input[type="submit"]
            background-color: $primary-color
            &:hover
              background-color: $tertiary-color
