.mobile-header
  position: fixed
  top: 0
  left: 0
  +paddingY(1)
  +paddingX(1)
  width: 100%
  background-color: white
  z-index: 9999
  +box-shadow(0, 1px, 12px, 0, $black, 0.2)

.page-template-events
  .mobile-header
    box-shadow: none
