.search-input
  position: relative
  img
    +breakpoint(eq_mobile)
      width: 100%
      max-width: none

.search-input__wrap
  width: 100%
  max-width: 320px
  +breakpoint(tab)
    width: 60%
    max-width: none

.search-bar
  input
    background-color: transparent
    border: transparent
    +font-size(18)
    color: $grey_7
    +breakpoint(tab)
      +font-size(28)

.search-form__icn
  width: 29px
  display: inline-block
  vertical-align: middle
  +breakpoint(tab)
    width: 38px

#search-popup
  overflow: hidden
  .grid-container-custom-search
    +breakpoint(eq_mobile)
      overflow: hidden
      width: 200%
      max-width: none
      padding: 0

.search-form
  .form__field
    margin-bottom: 0 !important
