.single-post__header-offset
  background-color: $grey_d
  +padding-top(6)
  z-index: 5
  +breakpoint(tab)
    +padding-top(14)

.single-post__header
  background-color: $grey_d
  +paddingX(4)
  +paddingY(2)
  position: sticky
  position: -webkit-sticky
  top: 53px
  z-index: 5
  +breakpoint(tab)
    top: 0
    +paddingX(5)
    +paddingY(3)
  .mec-sl-pin
    +font-size(21)
    color: $white
    display: inline-block
    -moz-transform: scaleX(-1)
    -o-transform: scaleX(-1)
    -webkit-transform: scaleX(-1)
    transform: scaleX(-1)
    filter: FlipH
    -ms-filter: "FlipH"
    +padding-bottom(0)
    +padding-left(1)
    +breakpoint(tab)
      +font-size(28)
    +breakpoint(desk)
      +padding-left(2)
      +font-size(35)

.single-post__header-offset--news
  @extend .single-post__header-offset
  background-color: $primopiano
.single-post__header--news
  @extend .single-post__header
  background-color: $primopiano
  +margin-bottom(6)

.single-post__header-title,
h1.single-post__header-title
  color: $white
  font-family: $title
  +margin-bottom(0)
  +padding-bottom(0)
  +font-size(24)
  line-height: normal
  +breakpoint(tab)
    +font-size(42)

.single-post__header-category
  color: $white
  font-family: $sans-serif
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  +font-size(16)
  +breakpoint(tab)
    +font-size(18)

.single-post__header-thumb
  +padding-right(3)
  +padding-top(3)
  +padding-left(3)
  +breakpoint(tab)
    +padding-right(4)
    +padding-top(4)
    +padding-left(0)

.single-post__content
  +padding-top(3)
  +padding-bottom(1)
  +breakpoint(tab)
    +padding-top(5)

.single-post__content,
.single-post__content p
  +font-size(17)
  color: #6D7278
  line-height: 1.8
  +margin-bottom(3)
  +breakpoint(tab)
    +font-size(18)
    +margin-bottom(5)
  a
    font-weight: 700
    text-decoration: underline
