.mec-wrap
  .single-articolo
    +padding(0)

.home
  .single-articolo__head
    position: relative
    .category-label
      position: absolute
      top: 0
      left: 0
      +margin(0)

.single-articolo
  background-color: $white
  +box-shadow(0, 0, 18px, 0, $black, 0.1)
  +margin-bottom(4)
  +transition
  cursor: pointer
  min-height: 100px
  &:hover
    +box-shadow(0, 0, 22px, 0, $black, 0.2)

.single-articolo__link
  height: 100%
  display: block

.single-articolo__img
  width: 100%
  position: relative
  height: 100%

.single-articolo__thumb
  width: 100%
  position: relative
  height: 100%
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-color: $grey_e

.single-articolo__tag
  z-index: 4
  position: absolute
  display: flex
  background-color: $white
  +paddingX(5)
  +paddingY(1.5)
  +margin-top(2.5)
  transform: translate(-10%)
  +box-shadow(0, 0, 10px, 0, $black, 0.1)
  height: 35px

  h4
    +font-size(14)
    color: $grey_7

  .mec-sl-calendar
    +padding-top(0.5)
    +padding-right(1)
    +font-size(14)
    color: $grey_7
    line-height: 0.9
    +breakpoint(tab)
      line-height: 0.9

  .mec-sl-pin
    +padding-top(0.5)
    +padding-left(1)
    +font-size(14)
    color: $grey_7
    transform: rotateY(180deg)

.single-articolo__wrap
  +padding(3)
  .category-label
    +margin-bottom(2)

.single-articolo__title
  +font-size(18)
  line-height: 1.4

.single-articolo__info
  +padding-top(2)

.single-articolo__date,
.single-articolo__place
  color: $grey_7

.single-articolo__place
  +padding-top(1)
