.single-article
  +box-shadow(0, 0, 18px, 0, $black, 0.1)
  +margin-bottom(4)
  +transition
  cursor: pointer
  min-height: 100px
  &:hover
    +box-shadow(0, 0, 22px, 0, $black, 0.2)

.single-article__link
  display: block
  background-color: $white
  +breakpoint(tab)
    display: flex
    flex-direction: row
    align-items: stretch

.single-article__title
  text-align: left
  +font-size(18)
  font-family: $sans-serif
  color: $black
  +padding-top(1)
  line-height: 1.2
  +padding-bottom(3)
  +breakpoint(tab)
    +padding-bottom(0)

.single-article__wrap
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  +padding(2)
  justify-content: space-between
  +breakpoint(tab)
    +padding(3)

.single-article__thumb
  width: 100%
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  background-color: $grey_e

.single-article__img
  max-width: 100%
  width: 100%
  +breakpoint(tab)
    max-width: 40%

.single-article__head
  text-align: center
  +breakpoint(tab)
    text-align: left
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: 18px
    width: calc(100% - 36px)
  .category-label
    position: absolute
    top: -16px
    left: 50%
    transform: translateX(-50%)
    +breakpoint(tab)
      position: absolute
      top: -31px
      left: 0
      transform: none

.single-article__info
  text-align: left
  +breakpoint(tab)
    position: absolute
    bottom: 18px
    left: 18px
  i
    +font-size(18)
    display: inline-block
    vertical-align: middle
    position: relative
    bottom: 1px

.single-article__date
  color: $grey_7
  +font-size(13)
  font-family: $sans-serif
  display: block
  vertical-align: middle
  +padding-top(1)
  +breakpoint(tab)
    +padding-right(3)
    display: inline-block

.single-article__date--start
  color: $grey_7
  +font-size(13)
  font-family: $sans-serif
  display: block
  vertical-align: middle
  display: inline-block
  +padding-left(.5)

.single-article__date--end
  color: $grey_7
  +font-size(13)
  font-family: $sans-serif
  display: block
  vertical-align: middle
  display: inline-block

.single-article__place
  @extend .single-article__date
  +breakpoint(tab)
    +padding-right(0)

.single-article__place-label
  display: inline-block
  vertical-align: middle

// .single-article.standard-post
//   .single-article__link
//     align-items: center
