.site-overlay
  background-color: rgba($black, 0.5)
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: 0
  visibility: hidden
  z-index: 9
  +transition

body.opened-menu
  .site-overlay
    opacity: 1
    visibility: visible
