.site-branding__site-title
  line-height: 1
  +font-size(16)
  a
    +font-size(16)
    text-transform: uppercase
    letter-spacing: 2px
    font-weight: 700

.site-branding__site-description
  +font-size(14)
  color: $tertiary-color
