.sponsor-footer
  background-color: $dark-white
  +breakpoint(tab)
    margin-left: 200px
  p
    padding-bottom: 20px

.sponsor-footer__wrap
  +padding(3)
  +padding-left(5)

.sponsor-footer__logo
  width: 100%
  img
    width: 250px
  p
    max-width: 80%
    +font-size(15)
    color: $grey_5
    font-weight: lighter

.sponsor-footer__mainsponsor,
.sponsor-footer__sponsor
  p
    +font-size(18)
    color: $primary-color
    font-family: $title
    font-weight: bold
    text-transform: uppercase

  .sponsor-footer__sponsor-logo
    display: flex
    flex-direction: column
    width: 50%
    img
      +padding-bottom(2)

    .mukki,
    .publiacqua
      @extend .sponsor-footer__sponsor-logo
      width: 50%

.sponsor-footer__social
  text-align: center
  +margin-bottom(2)
  +breakpoint(tab)
    text-align: right
    +margin-bottom(0)

.sponsor-footer__info
  background-color: $primary-color
  color: $white
  font-family: $sans-serif
  padding-top: 10px
  padding-bottom: 10px
  display: flex
  +font-size(12)
  +breakpoint(tab)
    max-height: 45px
    // min-height: 69px
  +paddingX(4)
  a
    color: $white
    +transition
    &:hover
      color: $hover-primary-color
  .tab-4
    order: 1
    +breakpoint(tab)
      order: 2
  .tab-8
    order: 2
    +breakpoint(tab)
      order: 1

.social__list-item
  display: inline-block
  opacity: 1
  +transition
  +padding-left(1)
  &:first-child
    +padding-left(0)
  &:hover
    opacity: .8

.social__list-link
  .iconae
    +font-size(26)
    color: $white
    &:hover
      color: $hover-primary-color
