// @import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700')
// @import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')

// Font Family inizializations
$sans-serif: "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
$title: "Roboto Condensed", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
$serif: Georgia, Cambria, "Times New Roman", Times, serif
$monospace: "Lucida Console", Monaco, monospace

@font-face
  font-family: 'simple line'
  src: url('../fonts/simple-line/Simple-Line-Icons.eot')
  src: url('../fonts/simple-line/Simple-Line-Icons.eot?#iefix') format('embedded-opentype'), url('../fonts/simple-line/Simple-Line-Icons.woff2') format('woff2'), url('../fonts/simple-line/Simple-Line-Icons.woff') format('woff'), url('../fonts/simple-line/Simple-Line-Icons.ttf') format('truetype'), url('../fonts/simple-line/Simple-Line-Icons.svg#Simple-Line-Icons') format('svg')
  font-weight: normal
  font-style: normal
