.first-slider,
.third-slider
  .slick-arrow
    position: absolute
    top: 50%
    transform: translateY(-50%)
    z-index: 10
    cursor: pointer
    +font-size(24)
    &.left,
    &.right
      +breakpoint(tab)
        visibility: visible
        opacity: 0
        +transition
      &.slick-disabled
        visibility: hidden
        opacity: 0

.first-slider
  +margin-top(0)
  +margin-bottom(7)
  +breakpoint(tab)
    +paddingX(8)
    +marginY(0)
  .slick-current
    cursor: pointer
  .left
    left: -30px
  .right
    right: -30px
  &:hover
    .left
      left: 0
      width: 30px
      opacity: 1
      visibility: visible
    .right
      right: 0
      width: 30px
      opacity: 1
      visibility: visible

.second-slider
  &.slick-slider
    display: none
    cursor: pointer
    +breakpoint(tab)
      display: block
    .slick-track
      img
        max-width: 60px
        opacity: .5
        +transition
        +margin-bottom(2)
        border: 1px solid transparent
        &.slick-current
          opacity: 1
          &:hover
            border: 1px solid transparent
        &:hover
          border: 1px solid $primary-color

.third-slider
  .left
    left: -15%
  .right
    right: -15%
  .slick-arrow
    &.left,
    &.right
      +breakpoint(tab)
        visibility: visible
        opacity: 1

.overlay-slider
  display: none
  position: fixed
  top: 0
  left: 0
  z-index: 20
  width: 100%
  height: 100vh
  background-color: $dark_white
  opacity: 0
  visibility: hidden
  z-index: -1
  +transition
  +breakpoint(tab)
    display: block
  &.active
    opacity: 1
    visibility: visible
    z-index: 20
  .popup__button
    top: 12px
    right: 18px
    .ae--cross
      +font-size(32)
  .third-slider
    max-width: 80%
    width: 100%
    margin: 0 auto
    position: relative
    top: 50%
    transform: translate(0%, -50%)
    +breakpoint(tab)
      max-width: 50%

.slick-track
  img
    &:focus,
    &:active
      outline: none

.slick-dots
  display: block
  position: absolute
  bottom: -30px
  left: 0
  right: 0
  margin: 0 auto
  text-align: center
  li
    width: 9px
    height: 9px
    background-color: $border-color
    display: inline-block
    +margin-right(1)
    border-radius: 100%
    &.slick-active
      background-color: $silver
