.woocommerce-tabs
  +marginY(6)

.wc-tabs
  display: block
  text-align: left
  +breakpoint(tab)
    display: flex
    justify-content: space-around
    border-bottom: 2px solid $border-color
  li
    position: relative
    display: block
    border-bottom: 2px solid $border-color
    +margin-bottom(2)
    +padding-bottom(1)
    +paddingX(1)
    &::before
      content: ''
      position: absolute
      bottom: -2px
      left: 0
      width: 100%
      height: 2px
      background-color: transparent
      +transition
    +breakpoint(tab)
      border-bottom: none
      display: inline-block
      +margin-bottom(0)
    &.current-tab
      &::before
        background-color: $primary-color
      a
        color: $primary-color
        &:hover
          opacity: 1
    a
      color: $grey_9
      +transition
      &:hover
        opacity: 0.6

.woocommerce-Tabs-panel
  display: none
  &.shown-tab
    height: 100%
    display: block
    +paddingY(3)
    h2
      display: none
    p
      text-align: left
