.woocommerce-MyAccount-navigation-link
  +padding(1)

// ADDRESSES
.woocommerce-Address
  +margin-bottom(2)
  .woocommerce-Address-title
    +margin-bottom(1)
  address
    line-height: 1.4

  // -----> EDIT
.woocommerce-MyAccount-content
  .woocommerce-address-fields
    .form-row
      +marginY(3)
      +breakpoint(desk)
        +marginY(1.5)
        max-width: 49%
        display: inline-block
        width: 100%
        &:nth-child(odd)
          padding-right: 1%
      .required
        text-decoration: none


// ACCOUNT DETAILS
%account-details-row
  display: block
  +breakpoint(tab)
    display: flex
    justify-content: flex-start

%account-details-row__column
  flex-grow: 1
  display: inline-block
  width: 100%
  border: 1px solid $border-color
  +padding(4)
  +margin-bottom(3)
  +breakpoint(tab)
    +margin-bottom(0)
    display: inline-block
  address
    line-height: 1.4
  &:first-child
    +margin-right(0)
    +breakpoint(tab)
      +margin-right(3)

.woocommerce-EditAccountForm
  @extend .cl
  fieldset
    +margin-top(6)
    +margin-bottom(2)
  .form-row-first
    +margin-right(0)
    +breakpoint(tab)
      margin-right: 2%
  .form-row-first,
  .form-row-last
    width: 100%
    max-width: 100%
    +margin-bottom(2)
    +breakpoint(tab)
      width: 100%
      max-width: 49%
      float: left

.account-details
  +padding-top(2)
  @extend %account-details-row
  .account-details__addresses
    @extend %account-details-row__column
  .woocommerce-Address-title
    @extend .cl
  h3
    display: inline-block
    float: left
  .edit
    display: inline-block
    float: right
    text-transform: uppercase
    +paddingX(2)
    +paddingY(1.5)
    background-color: $primary-color
    color: $white
    +font-size(12)
    +transition
    &:hover
      background-color: $secondary-color

.woocommerce-form-password-change
  p
    +margin-bottom(2)
    &:last-child
      +margin-bottom(0)

// ORDERS
.woocommerce-orders-table__row
  border-bottom: 1px solid $border-color
  &:last-child
    border: none
  .woocommerce-button
    +margin-left(1)
    &:first-child
      +margin-left(0)

// LOGIN
.woocommerce-form-login,
.register
  .form-row
    +marginY(3)

  // -----> LOST PASSWORD
.woocommerce-ResetPassword
  +margin-bottom(3)
  p
    &:first-child
      background-color: $dark_white
      +padding(3)
      +marginY(2)
  .form-row,
  .clear
    display: inline-block


.account-form
  @extend .row

.account-form__login,
.account-form__register
  @extend .row__column
  +breakpoint(tab)
    @extend .tab-6
