.woocommerce .quantity
  position: relative
  display: inline-block
  min-width: 90px
  .screen-reader-text
    display: none
  .qty
    background: transparent
    border: solid 1px $border-color
    max-width: 42px
    +paddingY(2)
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      margin: 0
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none

.woocommerce .quantity .qty
  background: transparent
  border: 1px solid $border-color
  margin: 0
  display: inline-block

.quantity-nav
  height: 100%
  display: inline-block
  position: absolute
  top: 0px
  .quantity-button
    border: 1px solid $border-color
    border-left: none
    height: 50%
    +paddingX(2)
    text-align: center
    cursor: pointer
    +transition
    &:hover
      background-color: $dark_white
    &:active
      background-color: $border-color
    &.quantity-up
      border-bottom: none

.product-quantity
  padding-right: 20px!important
