.woocommerce-message,
.woocommerce-error
  +marginY(3)
  .wc-forward
    display: block
    +margin-right(0)
    +margin-bottom(2)
    +breakpoint(tab)
      display: inline-block
      +margin-right(2)
      +margin-bottom(0)

.woocommerce-message
  background-color: $dark_white
  +padding(2)

.woocommerce-product-details__short-description
  +margin-bottom(3)

.single-product
  .single_add_to_cart_button
    min-width: 140px
  .product_meta
    +padding-top(2)
  .price
    del
      +margin-right(2)
  .onsale
    top: 5px
    right: 20px
    background-color: $primary-color
    color: $white
    +breakpoint(tab)
      right: 70px
