.checkout_coupon
  background-color: $dark_white
  +padding(3)
  .input-text
    min-width: 300px
  .form-row-first
    max-width: 300px
  .form-row
    display: inline-block

.woocommerce-checkout
  .woocommerce-info
    &:first-child
      +margin-top(1)
    +margin-top(3)
    background-color: $dark_white
    +padding(3)
  .woocommerce-form-login
    @extend .cl
    background-color: $dark_white
    +padding(3)
    .form-row-first,
    .form-row-last
      width: 49%
      float: left
      +padding(0)
      +marginY(2)
    .form-row-last
      margin-left: 2%
    .button
      display: inline-block
    .woocommerce-form__label-for-checkbox
      display: inline-block
      +padding-left(2)
      .woocommerce-form__input-checkbox
        +font-size(24)
  .woocommerce-billing-fields
    +marginY(2)

.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper
  .form-row
    +marginY(3)
    +breakpoint(desk)
      +marginY(1.5)
      max-width: 49%
      display: inline-block
      width: 100%
      &:nth-child(odd)
        padding-right: 1%
    .required
      text-decoration: none


.checkout
  #order_review_heading
    +marginY(3)
  .woocommerce-checkout-review-order,
  .woocommerce-checkout-review-order-table,
  .woocommerce-checkout-payment
    +padding-top(2)
    +margin-bottom(4)
  .woocommerce-checkout-payment
    border-top: 1px solid $border-color
  .woocommerce-checkout-review-order,
  .woocommerce-checkout-review-order-table
    #shipping_method
      display: inline-block
      text-align: left
      li
        label
          +margin-right(0)
    .shipping
      th
        +padding-top(4)
        vertical-align: top
      td
        +padding-top(4)
    thead
      th
        text-align: left
        &:last-child
          text-align: right
    td,
    th
      +paddingY(2)
      +padding-right(1)
      +padding-left(0)
      &:last-child
        +padding-right(0)
        +padding-left(1)
    tbody
      td
        &:last-child
          text-align: right
    tfoot
      th,
      td
        +padding-top(1)
        +padding-bottom(0)
      th
        text-align: left
      td
        text-align: right
  .wc-terms-and-conditions
    +marginY(1)

  .woocommerce-form__label
    background-color: $dark_white
    +padding(3)
    +marginY(3)
    span
      position: relative
      top: 1px
      +padding-left(1.5)

  .shipping_address
    display: none
    &.show
      display: block

  .woocommerce-form__input
    +font-size(24)
    +margin(0)

.place-order
  .alt
    width: 100%

.payment_method_paypal
  img
    +marginX(1)

.payment_box
  p
    padding: 0 12px 24px 12px
    +font-size(12)

.order_review_content
  position: static
  +breakpoint(tab)
    position: sticky
    top: 20px
