//woocommerce main cart
.cart-empty
  background-color: $dark_white
  +padding(3)
  +margin-bottom(2)

.shop_table
  width: 100%
  border-collapse: collapse
  thead
    border-bottom: 2px solid $border-color
    tr
      text-align: left
    th
      +paddingY(2)
      &.product-subtotal
        text-align: right
    .product-subtotal
      display: none
      +breakpoint(tab)
        display: table-cell
  tbody
    .cart_item
      border-bottom: 1px solid $border-color
    th
      +transition
    td
      +font-size(12)
      +transition
      +paddingY(2)
      +breakpoint(tab)
        +font-size(14)
      &.product-subtotal
        text-align: right
        display: none
        +breakpoint(tab)
          display: table-cell
    .cart_item
      text-align: center
      +breakpoint(tab)
        text-align: left
    .product-remove
      text-align: center
      a
        background-color: $alert-feedback
        color: $white
        border-radius: 50%
        display: inherit
        +font-size(14)
        display: inline-block
        width: 21px
        height: 21px
        font-weight: 700
        text-align: center
        line-height: 19px
        +transition
        &:hover
          background-color: $alert-feedback-dark
    .actions
      text-align: left
      clear: both
      button
        display: block
        +margin-top(2)
        +breakpoint(tab)
          display: inherit
          float: right
          +margin-top(0)
    .product-thumbnail
      width: 80px
      +breakpoint(tab)
        width: 110px
    .product-thumbnail
      img
        max-width: 70px

.coupon
  display: contents
  label
    display: none
  #coupon_code
    max-width: 160px
    display: inline-block
    +paddingY(1.7)
    +breakpoint(tab)
      max-width: 300px

//woocommerce cart total
.cart-collaterals
  @extend .cl
  .cart_totals
    max-width: 100%
    width: 100%
    float: right
    +breakpoint(tab)
      max-width: 65%
      +breakpoint(desk)
        max-width: 50%
    .shipping
      td
        max-width: 120px
        min-width: 100px
        +breakpoint(desk)
          min-width: 180px
    h2,
    .wc-proceed-to-checkout
      +marginY(3)
  .shop_table
    th
      text-align: left
      vertical-align: top
      +paddingY(2)
    th,
    td
      border-bottom: 1px solid $border-color
    tr
      &:last-child
        th,
        td
          border-bottom: none
  .wc-proceed-to-checkout
    .checkout-button
      display: block
