.woocommerce-breadcrumb
  +margin-bottom(3)

.product
  position: relative
  +padding-bottom(3)
  text-align: center
  .wp-post-image
    width: 100%
    display: block
    +padding-bottom(1)
    +transition

  .woocommerce-loop-product__link
    display: block
    &:hover
      .wp-post-image
        opacity: 0.7

  .woocommerce-loop-product__title
    +padding-bottom(1)

  .price
    display: block
    +padding-bottom(1)

  .star-rating
    color: $black
    +padding-bottom(1)

  // Product Label
  .onsale
    position: absolute
    top: 3px
    right: 3px
    z-index: 9
    background-color: $white
    +paddingY(1)
    +paddingX(2)
    min-width: 84px
