.hero__content
  height: 70vh
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  display: flex
  align-items: center

.hero__box
  width: 100%

.hero__title
  display: block
  +paddingY(2)
  @extend .primary-title

.hero__description
  @extend .tertiary-title
