.instagram
  position: relative
  .instagram__link
    .row__column.tab-2
      &:nth-child(5),
      &:nth-child(6)
        +breakpoint(eq_mobile)
          display: none

.instagram__link
  opacity: 1
  display: block
  &:hover
    .instagram__tag,
    .instagram__title
      opacity: .8

.instagram__cta
  z-index: 10
  width: 100%

.instagram__overlay
  background-color: $primary-color
  &.insta-0
    border-left: 0
  &.insta-3
    border-right: 0

.instagram__img
  height: 280px
  background-repeat: no-repeat
  background-size: cover
  opacity: .7

.instagram__tag,
.instagram__title
  color: $white

.instagram__tag
  +font-size(24)
  +breakpoint(tab)
    +font-size(20)

.instagram__title
  font-weight: 700
  line-height: 1
  text-transform: uppercase
  +font-size(52)
  +paddingX(4)
  +breakpoint(tab)
    +font-size(36)
