.video-ui
  width: 100%
  display: block
  position: relative
  cursor: pointer
  +margin-top(3)
  +transition
  +breakpoint(tab)
    +margin-top(0)

.video-ui__video
  width: 100%
  display: block

.video-ui__playpause-img
  max-width: 82px

.video-ui__video::-internal-media-controls-download-button
  display: none

.video-ui__video::-webkit-media-controls-enclosure
  overflow: hidden

.video-ui__video::-webkit-media-controls-panel
  width: calc(100% + 30px)

.video::-webkit-media-controls
  display: none
