.js--start-video
  background-size: 100% 100%
  min-width: 100%
  min-height: 100%
  +breakpoint(tab)
    position: absolute
    top: 50%
    left: 0
    transform: translateY(-50%)

body
  opacity: 1
  visibility: visible
  &.video-fullscreen-playing
    opacity: 0
    visibility: hidden
