/*   
Theme Name: Huzi
License: Located in the 'Licensing' folder
License URI: Located in the 'Licensing' folder
Description: Premium Magazine Theme.
Author: Promola
Author URI: https://promola.co.za
Theme URI: http://themeforest.net/user/promola
Version: 1.0.2
Tags: two-columns, three-columns, threaded-comments, right-sidebar
Text Domain: huzi
*/

/*

[Table of contents]

1. Reset
2. WordPress Classes Styling
3. Generic Styling
4. Header Banner Ad Styling
5. Main Header Styling
6. Header Elements Styling
7. Mega Menu Styling
8. Home 1 Featured Posts Styling
9. Home 1 Full Categories Posts
10. Review Posts Styling
11. Staff Picks Styling
12. Posts Carousel Styling
13. Recent Posts Styling
14. Sidebar Styling
15. Widgets Styling
16. Single Post Pages Styling
17. Home 2 Featured Slider Styling
18. Home 3 Featured Carousel Styling
19. Page Templates Styling
20. Error Page Styling
21. Main Footer Styling

/*-------------------------------------------*\
	1. Reset
\*-------------------------------------------*/

* {
	margin: 0;
	padding: 0;
}

a img,
iframe,
fieldset {
	border: none;	
}

li {
	list-style: none;
	line-height: 24px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section { 
    display: block; 
}

.fa {
	transform: rotate(0.001deg);
}

.is_stuck,
.stick-it {
  	transform: translate3d(0,0,0);
}

/*-------------------------------------------*\
	2. WordPress Classes Styling
\*-------------------------------------------*/

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}

.gallery-caption a {
	display: inline;
}

img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%;
	height: auto;
}

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin: 6px 20px 6px 0;
}

.alignright,
img.alignright {
	display: inline;
	float: right;
	margin: 6px 0 6px 20px;
}

.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignnone {
	margin: 12px 0 6px 0;
	text-align: center;
}

.entry
.wp-caption-text {
	margin-bottom: 10px;
  	font-size: 13px;
	font-style: italic;
	color: #aaa;
}

address {
    font-style: italic;
    margin: 0 0 20px 0;
}

pre {
    background: #f5f5f5;
    font-family: monospace;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
}

code {
    padding: 3px;
    background: #f5f5f5;
    font-family: monospace;
}

/*-------------------------------------------*\
	3. Generic Styling
\*-------------------------------------------*/

.wrapper {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.clear-both {
	clear: both;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: #222;
}

h1 {
	font-size: 34px;
	line-height: 42px;
}

h2 {
	font-size: 28px;
	line-height: 36px;
}

h3 {
	font-size: 26px;
	line-height: 36px;
}

h4 {
	font-size: 24px;
	line-height: 32px;
}

h5 {
	font-size: 22px;
	line-height: 30px;
}

h6 {
	font-size: 18px;
	line-height: 24px;
}

p {
	line-height: 24px;
}

a {
	color: #FCC04D;
	text-decoration: none;
	transition: color .3s; 
}

.entry a,
.comment-text a {
	text-decoration: underline;
}

.entry a:hover,
.comment-text a:hover {
	color: #FCC04D;
	text-decoration: none;
}

a:hover {
	color: #aaa;
	text-decoration: none;
}

body {
	color: #777;
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
}

/*** Default Styling ***/

.entry {
	clear: both;
	word-wrap: break-word;
}

.entry h1,
.entry h2,
.entry h3,
.entry h4,
.entry h5,
.entry h6,
.comment-text h1,
.comment-text h2,
.comment-text h3,
.comment-text h4,
.comment-text h5,
.comment-text h6 {
	margin-bottom: 14px; 
}

.entry .wp-video {
	margin-top: 30px;
	margin-bottom: 30px;
}

blockquote {
	position: relative;
	padding-left: 24px;
}

.entry
blockquote p,
.comment-text
blockquote p {
	color: #222;
    clear: both;
    font-size: 18px;
    line-height: 30px;
}

blockquote cite {
	display: block;
	margin-top: 5px;
	color: #aaa;
	font-size: 16px;
	font-style: normal;
}

blockquote p::before {
	position: absolute;
	left: 0;
	top: 15px;
	display: block;
	content: "\201C";
	color: #FCC04D;
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
}

.entry p,
.widget p,
.comment-text p {
	margin-bottom: 20px;
}

.entry iframe,
.entry img,
.widget iframe,
.widget img {
	max-width: 100%;
}

.entry img {
	height: auto;
}

.entry iframe {
	margin-top: 10px;
	margin-bottom: 10px;
}

.entry div {
    max-width: 100%;
}

select {
	max-width: 100%;
	height: 45px;
	padding: 0 14px;
	color: #777;
	border: 1px solid #eaeaea;
	font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.widget select {
	width: 100%;
}

/*** Lists Styling ***/

.entry ol,
.entry ul,
.comment-text ol,
.comment-text ul {
	margin-bottom: 18px;
	margin-left: 20px;
}

.entry
ul li,
.comment-text
ul li {
	list-style: disc;
}

.entry
ol li,
.comment-text
ol li {
	list-style: decimal;
}

.entry
li,
.comment-text
li {
	list-style-position: inside;
	margin-bottom: 12px;
}

.entry
li ul,
.comment-text
li ul,
.entry
li ol,
.comment-text
li ol {
	margin-top: 12px;
}

.entry
dt,
.comment-text
dt {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 6px;
}

.entry
dd,
.comment-text
dd {
	margin: 0;
	padding: 0 0 1.5em 0;
}

/*** Tables Styling ***/

.entry
table,
.comment-text
table {
	margin: 20px 0;
	width: 100%;
	text-align: left;
	border-collapse: collapse;
}

.entry
table
thead th,
.comment-text
table
thead th {
	font-weight: 700;
}

.entry
table th,
.comment-text
table th {
	font-size: 14px;
	font-weight: normal;
	padding: 10px 8px;
}

.entry
table td,
.comment-text
table td {
	padding: 2%;;
}

.entry
tbody tr:nth-child(odd),
.comment-text
tbody tr:nth-child(odd) {
	background: #F7F7F7; 
}

/*** Password Protected Posts Syling ***/

.post-password-form 
input[type=password] {
	width: 29%;
	height: 38px;
	clear: both;
	margin-left: 8px;
	padding-left: 20px;
	border: 1px solid #E5E5E5;
    background-color: #fff;
	font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
	color: #aaa;
}

.post-password-form 
input[type=password]:focus {
	outline: none;
    color: #777;
    border-color: #d4d4d4;
}

.post-password-form label {
	color: #444;
	font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-password-form 
input[type=submit] {
	height: 40px;
    padding: 0 25px;
    margin-top: 16px;
    color: #222;
    border: none;
    background-color: #FCC04D;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 41px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}

.post-password-form 
input[type=submit]:hover {
    color: #fff;
    background-color: #222;
}

/*-------------------------------------------*\
	4. Header Banner Ad Styling
\*-------------------------------------------*/

.banner-ad-wrapper {
	clear: both;
	text-align: center;
}

.header-banner-ad {
	text-align: center;
}

.header-banner-ad img {
	max-width: 100%;
    vertical-align: middle;
}

.banner-ad-url {
	display: inline-block;
}

/*-------------------------------------------*\
	5. Main Header Styling
\*-------------------------------------------*/

#main-header {
	height: 120px;
	margin-bottom: 55px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

#menu-icon {
	display: none;
}

/*** Sticky Main Header ***/

.admin-bar 
#main-header.stick-it {
	top: 32px;
}

#main-header.stick-it {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2000;
	width: 100%;
	height: 80px;
	margin: 0 auto;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.08);
	animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
}

#main-header.stick-it 
#logo,
#main-header.stick-it 
#main-nav li {
    line-height: 80px;
}

#main-header.stick-it 
#logo img {
    max-height: 58px;
}

#main-header.stick-it 
#main-nav,
#main-header.stick-it 
#main-nav a {
	height: 80px;
}

#main-header.stick-it 
#main-nav .menu-item-has-children 
> a::after {
    top: 36px;
}

#main-header.stick-it 
#main-nav ul li ul {
	top: 80px;
}

#main-header.stick-it 
#main-nav ul li ul li {
    line-height: normal;
}

#main-header.stick-it 
#main-nav ul li ul a {
    height: 48px;
}

#main-header.stick-it 
#main-nav ul li ul ul {
    top: -1px;
}

#main-header.stick-it 
#header-elements {
    margin-top: 27px;
}

#main-header.stick-it 
#searchform {
    top: 80px;
}

/*** Logo Styling ***/

#logo {
    line-height: 120px;
}

#logo img {
	max-height: 80px;
	vertical-align: middle;
}

#logo,
#text-logo {
	float: left;
	margin-right: 48px;
}

#text-logo {
	margin-top: 34px;
}

.stick-it #text-logo {
    margin-top: 14px;
}

#text-logo h1,
#text-logo span {
    text-transform: uppercase;
}

#text-logo h1 {
	font-size: 32px;
	line-height: 32px;
}

#text-logo h1 a {
	color: #222;
}

#text-logo span a {
	color: #999;
}

#tagline {
	font-size: 12px;
}

/*** Main Nav Styling ***/

#main-nav {
	height: 120px;
	float: left;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
}

#main-nav li {
	position: relative;
	float: left;
	margin-right: 24px;
	line-height: 121px;
}

#main-nav a {
	position: relative;
	z-index: 10;
	display: inline-block;
	height: 120px;
	color: #222;
}

#main-nav a:hover,
#main-nav 
.current-menu-item > a,
#main-nav ul li:hover > a {
	color: #FCC04D;
}

#main-nav 
.current-menu-item > a {
	border-bottom: 1px solid #FCC04D;
}

#main-nav 
.current-menu-item > a::after,
#main-nav ul li:hover > a::after,
#main-nav .menu-item-has-children 
> a:hover::after {
	border-top-color: #FCC04D;
}

#main-nav a i {
	font-size: 24px;
}

/*** Drop Menu Styling ***/

#main-nav 
.menu-item-has-children > a {
	padding-right: 14px;
}

#main-nav 
.menu-item-has-children > a::after {
	position: absolute;
	right: 0;
	top: 57px;
	content: "";
  	width: 0; 
  	height: 0; 
  	border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #222;
}

#main-nav ul ul 
.menu-item-has-children > a::after {
	position: static;
	float: right;
	margin-top: 19px;
	border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 7px solid #222;
}

#main-nav ul ul 
.menu-item-has-children > 
a:hover::after,
#main-nav ul ul 
li:hover a::after{
	border-top-color: transparent;
	border-left-color: #FCC04D;
}

#main-nav ul ul 
.current-menu-item > a::after {
	border-left-color: #FCC04D;
}

#main-nav ul li ul {
	position: absolute;
	left: -1px;
	top: 120px;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	float: none;
	border: 1px solid #eee;
	background-color: #fff;
}

@keyframes fadeIn {
  	from {
    	opacity: 0;
  	}

  	to {
    	opacity: 1;
  	}
}

#main-nav ul li:hover > ul {
   	visibility: visible;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: both;
}

#main-nav ul li ul li {
	height: auto;
	clear: both;
	margin-right: 0;
	float: none;
	line-height: normal;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #eee;;
}

#main-nav ul li 
ul li:last-child {
	border-bottom: none;
}

#main-nav ul li ul a {
	min-width: 208px;
	height: 48px;
	padding: 0 16px;
	margin-top: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 50px;
	transition: all .3s;
}

#main-nav ul ul 
.menu-item-has-children > a {
	padding-right: 16px;
}

#main-nav ul li ul 
.current-menu-item > a {
	border-bottom: none;
}

/*** Second Level Styling ***/

#main-nav ul li ul ul {
	left: 100%;
	top: -1px;
}

/*-------------------------------------------*\
	6. Header Elements Styling
\*-------------------------------------------*/

#header-elements {
	position: relative;
	width: 68px;
	height: 32px;
	float: right;
	margin-top: 45px;
}

#header-elements i {
	color: #222;
	font-size: 24px;
	cursor: pointer;
	transition: color .3s;
}

#header-elements i:hover {
	color: #FCC04D;
}

#header-elements 
.fa-share-alt {
	margin-right: 20px;
}

#header-elements 
.fa-close {
	position: absolute;
	right: 0;
	top: 0;
}

#header-elements 
.fa-close,
#header-elements 
.fa-search.search-show {
	visibility: hidden;
	opacity: 0;
}

#header-elements 
.fa-close.search-show {
	visibility: visible;
	opacity: 1;
}

/*** Header Search Form ***/

#main-header 
#searchform {
	position: absolute;
	left: 0;
	top: 120px;
	z-index: 9;
	width: 100%;
	height: 100px;
	visibility: hidden;
	opacity: 0;
	transition: opacity .6s;
}

#main-header 
#searchform.search-show {
	visibility: visible;
	opacity: 1;
}

#main-header #s {
	width: 1198px;
	height: 98px;
	border: 1px solid #eee;
	background-color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 28px;
	font-weight: 700;
	text-align: center;
}

#s {
	color: #ccc;
}

#s:focus {
	color: #777;
	outline: none;
}

#main-header 
#searchsubmit {
	position: absolute;
	right: 20px;
	top: 20px;
	height: 60px;
	padding: 0 30px;
	font-size: 16px;
}

#searchsubmit {
	color: #222;
	border: none;
	background-color: #FCC04D;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	 transition: all .4s;
}

#searchsubmit:hover {
	color: #fff;
	background-color: #222;
}

/*** Header Social Share ***/

#main-header 
.social-share-icons {
	position: absolute;
	left: -140px;
	top: 0;
	z-index: 11;
	width: 122px;
	padding-left: 18px;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	animation-duration: 1s;
  	animation-fill-mode: both;
}

@keyframes fadeInLeft {
  	from {
    	opacity: 0;
    	transform: translate3d(-30%, 0, 0);
  	}

  	to {
    	opacity: 1;
    	transform: none;
  	}
}

#main-header 
.social-share-icons.share-show {
	visibility: visible;
	animation-name: fadeInLeft;
}

#main-header 
.social-share-icons li {
	margin-right: 18px;
	float: left;
}

#main-header 
.social-share-icons i {
	color: #aaa;
}

#main-header 
.social-share-icons i:hover {
	color: #FCC04D;
}

#header-elements 
.fa-twitter {
	font-size: 26px;
}

#header-elements 
.fa-facebook {
	padding-top: 2px;
	font-size: 22px;
}

/*-------------------------------------------*\
	7. Mega Menu Styling
\*-------------------------------------------*/

#main-nav .huzimega {
	position: static;
}

#main-nav .huzimega ul {
	left: 0;
	width: 1138px;
	padding: 30px;
}

#main-nav .huzimega ul li {
	float: left;
	clear: none;
	margin-right: 30px;
	border-bottom: none;
}

#main-nav .huzimega 
ul li:nth-child(4n) {
	margin-right: 0;
}

#main-nav .huzimega ul a {
	width: 262px;
	height: auto;
	padding: 0;
	line-height: normal;
}

#main-nav .huzimega ul a:hover {
	color: #555;
}

/*** Mega Menu Thumbs ***/

.huzimega 
.post-thumb {
	position: relative;
	display: block;
	width: 262px;
	height: 170px;
	margin-bottom: 13px;
	overflow: hidden;
}

.post-thumb > a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.huzimega .post-thumb::after,
.post-thumb > a::after {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	display: block;
	width: 100%;
	height: inherit;
	content: "";
	background-color: #222;
	opacity: 0;
	transition: opacity .4s;
}

.huzimega .post-thumb:hover::after,
.post-thumb > a:hover::after {
	opacity: .2;
}

.post-thumb img {
	max-width: 100%;
	height: auto;
}

/*** Mega Menu Text ***/

.mega-title {
	display: block;
	margin-bottom: 9px;
	font-size: 19px;
	font-weight: 700;
	line-height: 27px;
	text-transform: capitalize;
}

.mega-date {
	color: #aaa;
	font-size: 13px;
	text-transform: uppercase;
}

.mega-date span {
	color: #777;
}

/*** Format Icons Styling ***/

.video-post-icon,
.audio-post-icon,
.gallery-post-icon {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	display: block;
	width: 48px;
	height: 48px;
	color: #222;
	background-color: #FCC04D;
	font-family: 'FontAwesome';
	line-height: 49px;
	text-align: center;
	transition: all .4s;
	transform: rotate(0.001deg);
}

.video-post-icon::before {
	content: "\f01d";
	font-size: 28px;
}

.audio-post-icon::before {
	content: "\f028";
	font-size: 28px;
}

.gallery-post-icon::before {
	content: "\f083";
	font-size: 28px;
}

.huzimega a:hover 
.format-icon {
	color: #222;
	background-color: #fff;
}

.large-post 
.post-thumb > a:hover::before,
.medium-post 
.post-thumb > a:hover::before,
.small-post 
.post-thumb > a:hover::before {
	color: #222;
	background-color: #fff;
}

/*-------------------------------------------*\
	8. Home 1 Featured Posts Styling
\*-------------------------------------------*/

#featured-1 {
	height: 550px;
}

.featured-wrap {
	margin-bottom: 50px;
}

.feat-post {
	position: relative;
	overflow: hidden;
	background-color: #FCC04D;
}

.feat-post img {
	width: 100%;
	height: auto;
	transition: opacity .4s;
}

.feat-post:hover img {
	opacity: .8;
}

/*** Large Featured Post ***/

#large-feat {
	width: 598px;
	height: 550px;
	float: left;
	margin-right: 4px;
}

#featured-1 
.feat-caption {
	position: absolute;
	left: 30px;
	bottom: 56px;
	z-index: 2;
	width: 538px;
	color: #fff;
}

.feat-caption 
.post-title {
	margin-bottom: 10px;
}

.feat-caption 
.post-meta a,
.feat-caption 
.post-title a {
	color: #fff;
	transition: all .3s;
}

.feat-caption 
.post-meta a:hover,
.feat-caption 
.post-title a:hover {
	color: #fff;
	text-shadow: 0px 2px 0px rgba(34,34,34,1);
}

.post-title {
	text-transform: capitalize;
	word-wrap: break-word
}

.feat-caption 
.post-meta {
	color: #fff;
}

.post-meta {
	font-size: 13px;
	text-transform: uppercase;
}

.post-meta li {
	float: left;
	margin-right: 18px;
}

.post-meta li:last-child {
	margin-right: 0;
}

.gradient-overlay {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	height: inherit;
	background-image: linear-gradient(180deg,rgba(34,34,34,0) 0%,rgb(34,34,34) 97%);
}

#featured-tag {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
	display: block;
	height: 38px;
	padding: 0 17px;
	color: #222;
	background-color: #FCC04D;
	font-size: 13px;
	font-weight: 700;
	line-height: 39px;
	text-transform: uppercase;
}

/*** Medium Featured Post ***/

#feat-col-2 {
	width: 598px;
	float: left;
}

#medium-feat {
	width: 598px;
	height: 273px;
	margin-bottom: 4px;
}

#featured-1 
#medium-feat 
.feat-caption {
	bottom: 52px;
}

#medium-feat 
.post-title {
	margin-bottom: 6px;
}

/*** Small Featured Posts ***/

.small-feat {
	width: 297px;
	height: 273px;
	float: left;
	margin-right: 4px;
}

.small-feat + .small-feat{
	margin-right: 0;
}

#featured-1 
.small-feat 
.feat-caption {
	bottom: 48px;
	width: 237px;
}

.small-feat 
.post-title {
	margin-bottom: 6px;
	font-size: 19px;
	line-height: 25px;
}

/*** Share Posts Styling ***/

.post-share {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	height: 32px;
}

.post-share-txt {
	position: relative;
	z-index: 2;
	display: block;
	height: 32px;
	float: left;
	padding: 0 12px 0 22px;
	color: #222;
	background-color: #fff;
	font-size: 12px;
	line-height: 36px;
	text-transform: uppercase;
	cursor: pointer;
}

.post-share-txt::before {
	position: absolute;
	left: 2px;
	top: 0;
 	content: "\f1e0";
	color: #FCC04D;
	font-size: 17px;
	font-family: 'FontAwesome';
	transition: color .3s;
	transform: rotate(0.001deg);
}

.post-share-txt:hover::before {
	color: #aaa;
}

.post-share 
.social-share-icons {
	position: relative;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	animation-duration: .6s;
  	animation-fill-mode: both;
}

.post-share 
.social-share-icons.share-show {
	visibility: visible;
	animation-name: fadeInLeft;
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

.post-share 
.social-share-icons.share-hidden {
	visibility: hidden;
	animation-name: fadeOutLeft;
}

.post-share 
.social-share-icons,
.post-share li {
	float: left;
}

.post-share li {
	margin-left: 1px;
	line-height: 35px;
}

.post-share a {
	display: inline-block;
	width: 32px;
	height: 32px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	transition: all .3s;
}

.post-share .twitter {
	background-color: #40BFF4;
	font-size: 18px;
}

.post-share .facebook {
	background-color: #5C82D0;
}

.post-share .google {
	background-color: #EA5D4B;
}

.post-share a:hover {
	color: #FCC04D;
	background-color: #fff;
}

/*-------------------------------------------*\
	9. Home 1 Full Categories Posts
\*-------------------------------------------*/

.section-header {
	position: relative;
	width: 100%;
	min-height: 41px;
	margin-bottom: 45px;
	border-bottom: 1px solid #EAEAEA;
	text-transform: uppercase;
}

.section-header h6 {
	padding-bottom: 15px;
}

.section-header::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	display: block;
	width: 40px;
	height: 3px;
	background-color: #FCC04D;
}

#full-categories-posts 
section {
	width: 372px;
	float: left;
	margin-right: 42px;
}

#full-categories-posts 
section:last-child {
	margin-right: 0;
}

.medium-post {
	margin-bottom: 30px;
}

.medium-post 
.post-thumb {
	width: 372px;
	margin-bottom: 21px;
}

.medium-post 
.post-thumb > a {
	display: block;
    line-height: 0;
}

.post-thumb {
	position: relative;
}

.medium-post 
.post-title {
	margin-bottom: 6px;
}

.post-meta,
.post-meta a {
	color: #aaa;
}

.post-meta a:hover,
.post-meta span {
	color: #777;
}

.post-comments i {
	margin-right: 4px;
	color: #FCC04D;
	font-size: 16px;
}

.small-post {
	width: 100%;
	margin-bottom: 42px;
}

.small-post 
.post-thumb {
	width: 150px;
	height: 105px;
	float: left;
	margin-right: 14px;
	overflow: hidden;
}

article.small-post 
.post-thumb > a::before {
	width: 40px;
	height: 40px;
	font-size: 24px;
	line-height: 40px;
}

.small-post 
.post-share li:last-child {
	display: none;
}

.small-post 
.post-content {
	margin-top: 5px;
	overflow: hidden;
}

.small-post h6 {
	margin-bottom: 4px;
	font-size: 16px;
	line-height: 22px;
}

.post-title a {
	color: #222;
}

.post-title a:hover {
	color: #555;
}

/*-------------------------------------------*\
	10. Review Posts Styling
\*-------------------------------------------*/

.posts-wrap {
	width: 786px;
	float: left;
}

#review-posts 
.tall-post {
	position: relative;
	width: 372px;
	height: 510px;
	float: left;
	margin-right: 42px;
	margin-bottom: 42px;
	overflow: hidden;
}

#review-posts 
.tall-post:last-child {
	margin-right: 0;
}

.tall-post 
.post-content {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 310px;
	padding-top: 19px;
	padding-right: 20px;
	background-color: #fff;
}

.tall-post 
.post-title {
	margin-bottom: 5px;
}

.tall-post 
.post-share {
	position: absolute;
	left: 0;
	top: -32px;
	bottom: auto;
}

.tall-post 
.share-button {
	background-color: #FCC04D;
	transition: background .3s;
}

.tall-post 
.share-button:hover {
	color: #222;
	background-color: #fff;
}

.tall-post 
.post-share-txt {
	padding-left: 30px;
}

.tall-post 
.post-share-txt::before {
	left: 11px;
	color: #222;
}

.tall-post 
.post-share-txt:hover::before {
	color: #FCC04D;
}

/*** Rating Text Styling ***/

#review-posts .rated-post 
.post-thumb > a::before {
	display: none;
}

.post-rating {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    display: block;
    height: 48px;
    padding: 0 10px;
    color: #222;
    background-color: #FCC04D;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    transition: all .4s;
}

.post-thumb > a:hover 
.post-rating {
    color: #222;
    background-color: #fff;
}

/*-------------------------------------------*\
	11. Staff Picks Styling
\*-------------------------------------------*/

.large-post {
	position: relative;
	width: 786px;
	height: 436px;
	overflow: hidden;
	margin-bottom: 47px;
}

.large-post .post-content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 724px;
    padding-top: 24px;
    padding-right: 20px;
    background-color: #fff;
}

.large-post h1 {
	margin-bottom: 10px;
    font-size: 30px;
    line-height: 38px;
}

.large-post .post-share {
    position: absolute;
    left: 0;
    top: -32px;
    bottom: auto;
}

.large-post 
.share-button {
    background-color: #FCC04D;
    transition: background .3s;
}

.large-post 
.share-button:hover {
    color: #222;
    background-color: #fff;
}

.large-post 
.post-share-txt::before {
    left: 11px;
    color: #222;
}

.large-post 
.post-share-txt:hover::before {
    color: #FCC04D;
}

.large-post 
.post-share-txt {
    padding-left: 30px;
}

.staff-column {
	width: 372px;
	float: left;
	margin-right: 42px;
}

#staff-picks 
.staff-column + .staff-column {
	margin-right: 0;
}

/*-------------------------------------------*\
	12. Posts Carousel Styling
\*-------------------------------------------*/

#carousel-wrap {
	position: relative;
	padding-top: 3px;
}

#carousel-posts {
	height: 270px;
	overflow: hidden;
	margin-bottom: 42px;
}

#carousel-posts 
.slides > li {
	position: relative;
	display: inline-block;
	width: 398px;
	height: 270px;
	float: left;
	margin-right: 3px;
    background-color: #FCC04D;
}

#carousel-posts img {
    transition: opacity .4s;
}

#carousel-posts 
.slides > li:hover img {
	opacity: .8;
}

.format-video 
.post-thumb > a::before,
.format-gallery 
.post-thumb > a::before,
.format-audio 
.post-thumb > a::before {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4;
	display: block;
	width: 48px;
	height: 48px;
	color: #222;
	background-color: #FCC04D;
	font-size: 28px;
    font-family: 'FontAwesome';
    text-align: center;
    line-height: 48px;
    transition: all .4s;
    transform: rotate(0.001deg);
}

.format-video 
.post-thumb > a::before {
	content: "\f01d";
}

.format-gallery 
.post-thumb > a::before {
	content: "\f083";
	font-size: 27px;
}

.format-audio 
.post-thumb > a::before {
	content: "\f028";
	font-size: 24px;
}

#carousel-posts .slides > li:hover
.post-thumb > a::before {
	color: #222;
	background-color: #fff;
}

#carousel-posts 
.slides > li:nth-child(3n) {
	margin-right: 0;
}

#carousel-posts 
.feat-caption {
	position: absolute;
	left: 32px;
	bottom: 48px;
	z-index: 2;
	width: 334px;
}

#carousel-posts 
.post-title {
    margin-bottom: 6px;
}

/*** Carousel Nav Styling ***/

#carousel-nav {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
	width: 69px;
}

#carousel-nav a {
	display: block;
	width: 31px;
	height: 31px;
	float: left;
	color: #222;
	border: 1px solid #EAEAEA;
	text-align: center;
    line-height: 31px;
}

#carousel-nav a:hover {
	color: #FCC04D;
}

#carousel-nav 
.flex-prev {
	float: right;
}

#carousel-nav 
.flex-prev::before,
#carousel-nav 
.flex-next::before {
	font-size: 14px;
    font-family: 'FontAwesome';
    transform: rotate(0.001deg);
}

#carousel-nav 
.flex-next::before {
	content: "\f053";
}

#carousel-nav 
.flex-prev::before {
	content: "\f054";
}

/*-------------------------------------------*\
	13. Recent Posts Styling
\*-------------------------------------------*/

#medium-posts 
.medium-post {
    width: 372px;
    float: left;
    margin-right: 42px;
    margin-bottom: 34px;
    opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

#medium-posts 
.medium-post.reveal {
   	opacity: 1;
    animation-name: fadeInUp;
    animation-duration: .8s;
    animation-fill-mode: both;
}

#medium-posts 
.medium-post:nth-child(2n) {
	margin-right: 0;
}

#medium-posts 
.post-title {
	margin-bottom: 8px;
}

#medium-posts .sticky 
.post-title a {
	position: relative;
	padding-left: 26px;
}

#medium-posts .sticky 
.post-title a::before {
	position: absolute;
	left: 0;
	top: 5px;
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(images/sticky-pin.svg) no-repeat;
}

#medium-posts 
.post-meta li {
	margin-bottom: 6px;
}

.medium-post 
.post-comments {
	float: right;
}

.medium-post 
.excerpt {
	clear: both;
	word-wrap: break-word;
}

/*** Load More Button Styling ***/

.load-more-wrap {
	clear: both;
	text-align: center;
}

.loading-text-svg {
	position: relative;
	display: none;
	height: 42px;
	padding-left: 26px;
}

.load-more.loading 
.loading-text-svg {
	display: inline-block;
}

.loading-text-svg svg {
	position: absolute;
	left: -11px;
	top: 4px;
	display: block;
	width: 42px;
	height: 42px;
	margin: 0 auto;
}

.load-more {
	display: inline-block;
	width: 100%;
	height: 46px;
    margin-top: 4px;
    margin-bottom: 50px;
	color: #aaa;
	border: 1px solid #eee;
	background-color: #fff;
	font-size: 15px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	transition: all .3s;
	cursor: pointer;
}

.load-more.loading,
.load-more.loading:hover {
	color: #aaa;
	border: 1px solid #eee;
	background-color: #fff;
}

.load-more:hover {
	color: #222;
	border-color: #FCC04D;
	background-color: #FCC04D;
}

.load-more-txt::after {
	margin-left: 5px;
 	content: "\f0ab";
	font-size: 15px;
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
}

.load-more.loading 
.load-more-txt,
.no-more-txt,
.no-more-posts.load-more.loading 
.loading-text-svg {
	display: none;
}

.no-more-posts 
.no-more-txt {
	display: inline-block;
}

.no-more-posts {
	background-color: #eee;
	cursor: unset;
}

/*** Pagination Styling ***/

.pagination {
	width: 100%;
	margin-bottom: 39px;
	clear: both;
	color: #222;
	font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.pagination a {
	display: block;
	float: left;
	padding: 11px 18px;
	margin-right: 3px;
	margin-bottom: 3px;
	color: #222;
	border: 1px solid #FCC04D;
    background-color: #FCC04D;
	text-decoration: none;
	transition: all .3s;
}

.pagination a:hover {
	color: #222;
	border-color: #eee;
    background-color: #fff;
}

.pagination
.current {
	display: block;
	float: left;
	padding: 11px 18px;
	margin-right: 3px;
	margin-bottom: 3px;
	border: 1px solid #eee;
    background-color: #fff;
}

.pagination .dots {
	margin: 14px 20px 0 17px;
	float: left;
}

/*** Nothing Found Styling ***/

.nothing-found {
	margin-bottom: 50px;
}

.nothing-found h1 {
	margin-bottom: 15px;
	font-size: 30px;
    line-height: 38px;
}

.nothing-found h2 {
	margin-bottom: 10px;
    font-size: 20px;
}

.nothing-found p {
	margin-bottom: 30px;
}

.nothing-found 
.widget_recent_entries li,
.nothing-found 
.widget_recent_entries li:last-child {
	margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
	font-size: 16px;
}

/*-------------------------------------------*\
	14. Sidebar Styling
\*-------------------------------------------*/

.widget-sidebar {
	width: 372px;
	float: right;
}

.widget {
	margin-bottom: 42px;
}

/*-------------------------------------------*\
	15. Widgets Styling
\*-------------------------------------------*/

/*** Video Widget Styling ***/

.widget_molavid iframe {
	width: 100%;
	height: 209px;
}

/*** Facebook Widget ***/

.huzi_facebook_widget {
	min-height: 588px;
}

/*** Small Posts Widget Styling ***/

.widget_huzi_popular article:last-child,
.widget_huzi_recent article:last-child {
	margin-bottom: 0
}

#main-footer 
.post-share a:hover {
	color: #fff;
	background-color: #222;
}

/*** Tag Cloud Styling ***/

.widget
.tagcloud {
	margin-bottom: -5px;
	overflow: hidden;
}

.tagcloud a {
	position: relative;
	display: block;
	height: 32px;
	padding: 0 13px 0 31px;
	margin: 0 4px 4px 0;
	float: left;
	color: #222;
	background-color: #FCC04D;
	font-size: 12px !important;
	text-transform: uppercase;
	line-height: 34px;
	transition: all .3s;
}

.tagcloud a::before {
	position: absolute;
	left: 13px;
	top: 0;
 	content: "\f02b";
	font-size: 17px;
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
}

#main-footer 
.tagcloud a {
	color: #fff;
    background-color: #444;
}

.tagcloud a:hover {
	color: #fff;
	background-color: #222;
}

#main-footer 
.tagcloud a:hover {
	color: #222;
	background-color: #FCC04D;
}

/*** Search Widget ***/

.widget #searchform {
	position: relative;
	width: 100%;
	height: 47px;
}

.widget #s {
	width: 230px;
    height: 45px;
    color: #aaa;
    padding: 0 120px 0 20px;
    border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.widget #s:focus {
	color: #777;
	border-color: #E2E2E2;
	background-color: #fff;
	outline: none;
}

.widget #searchsubmit {
	position: absolute;
	right: 3px;
    top: 3px;
    height: 41px;
	color: #222;
	padding: 0 20px;
	border: none;
	background-color: #FCC04D;
	font-size: 15px;
	font-weight: 700;
	line-height: 43px;
	cursor: pointer;
	transition: all .3s;
}

.widget #searchsubmit:hover {
	color: #fff;
	background-color: #222;
}

/*** About Us Widget Styling ***/

.about-img {
	display: block;
	margin-bottom: 25px;
}

.about-widget-social li {
	float: left;
	margin-top: 8px;
	margin-right: 16px;
}

.about-widget-social a {
	display: block;
	width: 40px;
	height: 40px;
	color: #fff;
	background-color: #444;
	text-align: center;
	line-height: 42px;
	transition: all .3s;
}

.about-widget-social a:hover {
	color: #222;
	background-color: #FCC04D;
}

.about-widget-social 
.twitter {
	font-size: 24px;
}

.about-widget-social 
.facebook,
.about-widget-social 
.google {
	font-size: 20px;
}

.about-widget-social 
.instagram,
.about-widget-social 
.youtube {
	font-size: 22px;
}

/*** Social Media Widget Styling ***/

.social-widget-list li {
	float: left;
	margin-right: 9px;
}

.social-widget-list 
li:nth-child(4n) {
	margin-right: 0;
}

.social-widget-list a {
	position: relative;
	display: block;
	width: 86px;
	height: 92px;
	float: left;
}

.wd-icon-wrap {
	position: absolute;
	left: 3px;
	top: 0;
	z-index: 2;
	display: block;
	width: 78px;
	height: 86px;
	border: 1px solid #eee;
	background-color: #fff;
}

.social-widget-list i {
	position: absolute;
	left: 3px;
	top: 3px;
	z-index: 3;
	width: 72px;
	height: 86px;
	color: #fff;
	text-align: center;
	line-height: 65px;
	transition: background .3s;
}

.wd-social-text {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 4;
	display: block;
	width: 84px;
	height: 24px;
	border: 1px solid #eee;
	background-color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	line-height: 25px;
}

.social-widget-list 
.twitter a {
	color: #40BFF4;
}

.social-widget-list 
.twitter i {
	background-color: #40BFF4;
	font-size: 35px;
}

.social-widget-list 
.facebook a {
	color: #5C82D0;
}

.social-widget-list 
.facebook i {
	background-color: #5C82D0;
	font-size: 28px;
}

.social-widget-list 
.instagram a {
	color: #548BB5;
}

.social-widget-list 
.instagram i {
	background-color: #548BB5;
	font-size: 30px;
}

.social-widget-list 
.youtube a {
	color: #EE4E40;
}

.social-widget-list 
.youtube i {
	background-color: #EE4E40;
	font-size: 28px;
}

.social-widget-list a:hover {
	color: #222;
}

.social-widget-list a:hover i {
	background-color: #222;
}

/*** MailChimp Widget Styling ***/

.mc4wp-form {
	color: #aaa;
	font-size: 14px;
}

#main-footer 
.mc4wp-form {
	color: #777;
}

.mc4wp-form p {
	margin-bottom: 0;
}

.mc4wp-form 
input {
	width: 90%;
	height: 46px;
	padding: 0 5%;
	border: none;
	margin-top: 23px;
	font-family: 'Poppins', sans-serif;
}

.widget-sidebar 
.mc4wp-form input {
	width: 330px;
	padding: 0 20px;
	border: 1px solid #EAEAEA;
	background-color: #FBFBFB;
}

.widget-sidebar .mc4wp-form 
input[type=submit],
.mc4wp-form 
input[type=submit] {
	width: 100%;
	padding: 0;
	margin-bottom: 13px;
	color: #fff;
	border: none;
	background-color: #444;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	transition: all .3s;
}

.widget-sidebar .mc4wp-form 
input[type=submit] {
	background-color: #222;
}

.mc4wp-form 
input[type=submit]:hover {
	color: #222;
	background-color: #FCC04D;
}

/*** Calendar Widget ***/

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	text-align: left;
	margin-bottom: 7px;
	margin-left: 5px;
}

#wp-calendar thead {
	font-size: 10px;
}

#wp-calendar thead th {
	padding-bottom: 10px;
}

#wp-calendar tbody td,
#wp-calendar .pad {
	border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
	text-align: center;
	padding: 8px;
	transition: all .3s;
}

#main-footer
#wp-calendar tbody td,
#main-footer
#wp-calendar .pad {
	background-color: #444;
    border: none;
}

#wp-calendar tfoot #next {
	background-color: #FBFBFB;
	text-transform: uppercase;
	text-align: right;
	padding: 10px;
}

#main-footer
#wp-calendar tfoot #next {
	background-color: #444;
}

#wp-calendar tfoot #prev {
	border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
	text-transform: uppercase;
	padding: 10px;
}

#main-footer
#wp-calendar tfoot #prev {
	color: #fff;
    background-color: #444;
    border: none;
}

/*** List Widgets Styling ***/

.widget .huzimega {
	display: none;
}

.widget .menu li,
.widget_pages li,
.widget_recent_entries li,
.widget_recent_comments li,
.widget_archive li,
.widget_categories li,
.widget_meta li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EAEAEA;
	list-style: none;
	color: #aaa;
}

.widget_recent_comments li::before {
	margin-right: 8px;
 	content: "\f0e6";
	color: #aaa;
	font-size: 24px;
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
}

#main-footer 
.widget_recent_comments li::before {
	color: #fff;
}

#main-footer
.widget .menu li,
#main-footer
.widget_pages li,
#main-footer
.widget_recent_entries li,
#main-footer
.widget_recent_comments li,
#main-footer
.widget_archive li,
#main-footer
.widget_categories li,
#main-footer
.widget_meta li {
	border-bottom-color: #3A3A3A;
	color: #aaa;
}

.widget .menu li:last-child,
.widget_pages li:last-child,
.widget_recent_entries li:last-child,
.widget_recent_comments li:last-child,
.widget_archive li:last-child,
.widget_categories li:last-child,
.widget_meta li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.widget .children,
.widget .sub-menu {
	padding-top: 20px;
	margin-left: 10px;
}

.widget
.children li:first-child,
.widget
.sub-menu li:first-child {
	padding-top: 20px;
	border-top: 1px solid #EAEAEA;
}

#main-footer .widget
.children li:first-child,
#main-footer .widget
.sub-menu li:first-child {
	border-top-color: #3A3A3A;
}

.widget_recent_entries
.post-date {
	display: block;
	margin-top: 4px;
	float: none;
	font-size: 13px;
	text-transform: uppercase;
}

.widget .menu li a,
.widget_pages li a,
.widget_recent_entries li a,
.widget_recent_comments li a,
.widget_archive li a,
.widget_categories li a,
.widget_meta li a {
	color: #777;
	margin-right: 5px;
	text-decoration: none;
}

#main-footer
.widget .menu li a,
#main-footer
.widget_pages li a,
#main-footer
.widget_recent_entries li a,
#main-footer
.widget_recent_comments li a,
#main-footer
.widget_archive li a,
#main-footer
.widget_categories li a,
#main-footer
.widget_meta li a {
	color: #fff;
}

.widget .menu li a:hover,
.widget_pages li a:hover,
.widget_recent_entries li a:hover,
.widget_recent_comments li a:hover,
.widget_archive li a:hover,
.widget_categories li a:hover,
.widget_meta li a:hover {
	color: #FCC04D;
	text-decoration: none;
}

#main-footer
.widget .menu li a:hover,
#main-footer
.widget_pages li a:hover,
#main-footer
.widget_recent_entries li a:hover,
#main-footer
.widget_recent_comments li a:hover,
#main-footer
.widget_archive li a:hover,
#main-footer
.widget_categories li a:hover,
#main-footer
.widget_meta li a:hover {
	color: #ccc;
}

/*-------------------------------------------*\
	16. Single Post Pages Styling
\*-------------------------------------------*/

article.single-wrap {
	margin-bottom: 18px;
}

/*** Single Page 1 Styling ***/

.single-thumb {
	width: 100%;
	margin-bottom: 30px;
	line-height: 0;
}

.single-layout1 
.single-header {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 724px;
    padding-top: 26px;
    padding-right: 20px;
    background-color: #fff;
}

.single-layout1 
.single-post-title {
	margin-bottom: 14px;
    font-size: 30px;
    line-height: 38px;
}

.single-layout1 
.single-meta {
	margin-bottom: 18px;
}

.single-layout1 
.single-header .post-share {
    position: absolute;
    left: 0;
    top: -32px;
    bottom: auto;
}

.single-layout1 
.single-header 
.share-button {
    background-color: #FCC04D;
    transition: background .3s;
}

.single-layout1 
.single-header 
.share-button:hover {
    color: #222;
    background-color: #fff;
}

.single-layout1 
.single-header
.post-share-txt::before {
    left: 11px;
    color: #222;
}

.single-layout1 
.single-header 
.post-share-txt:hover::before {
    color: #FCC04D;
}

.single-layout1 
.single-header 
.post-share-txt {
    padding-left: 30px;
}

.single-layout1 
.single-post-title.no-thumb {
	margin-bottom: 20px;
}

.single-layout1 
.single-meta.no-thumb {
    margin-bottom: 27px;
}

.single-layout1 
.single-share-icons {
	margin-bottom: 34px;
	overflow: hidden;
}

.single-tags {
	margin-bottom: 42px;
}

/*** Single Page 2 Styling ***/

.single-layout2 
.single-header {
	margin-bottom: 38px;
}

.single-layout2 
.single-post-title {
    margin-bottom: 18px;
    font-size: 34px;
    line-height: 42px;
}

.single-layout2 
.single-meta {
	margin-bottom: 28px;
}

.single-share-icons {
	clear: both;
	text-transform: uppercase;
}

.single-share-icons li {
	float: left;
	margin-right: 4px;
	font-size: 12px;
}

.single-share-icons 
li:last-child {
	margin-right: 0;
}

.single-share-icons a {
	display: inline-block;
	width: 36px;
	height: 36px;
	color: #fff;
	text-align: center;
	transition: background .3s;
}

.single-share-icons a:hover {
	background-color: #ccc;
}

.single-share-icons 
.twitter,
.single-share-icons 
.facebook {
	position: relative;
	width: auto;
	padding-right: 12px;
	text-align: left;
}

.single-share-icons span {
	position: relative;
	display: inline-block;
	height: 36px;
	padding-left: 12px;
	line-height: 38px;
}

.single-share-icons 
span::before {
	content: "";
	position: absolute;
	left: 2px;
	top: 13px;
	display: inline-block;
	width: 1px;
	height: 11px;
	background-color: #fff;
	opacity: .4;
	font-size: 12px;
}

.single-share-icons 
.twitter {
	padding-left: 36px;
	background-color: #40BFF4;
}

.single-share-icons 
.twitter i {
	position: absolute;
	left: 10px;
	top: 8px;
	font-size: 22px;
}

.single-share-icons 
.facebook {
	padding-left: 27px;
	background-color: #5C82D0;
}

.single-share-icons 
.facebook i {
	position: absolute;
    left: 10px;
    top: 9px;
	font-size: 20px;
}

.single-share-icons 
.google i {
	font-size: 20px;
	line-height: 38px;
}

.single-share-icons 
.google {
	background-color: #EA5D4B;
}

.single-share-icons 
.mail-to i {
	font-size: 18px;
	line-height: 37px;
}

.single-share-icons 
.pinterest {
	background-color: #E03037;
}

.single-share-icons 
.pinterest i {
	font-size: 21px;
	line-height: 40px;
}

.single-share-icons 
.mail-to {
	background-color: #333;
}

.single-layout2 
.single-thumb {
	margin-top: 48px;
    margin-bottom: 34px;
}

/*** Single Page 3 Styling ***/

.single-layout3 
.single-thumb {
	height: 520px;
	margin-bottom: 36px;
	overflow: hidden;
}

.single-layout3 
.single-header {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 734px;
    padding-top: 26px;
    padding-right: 20px;
    background-color: #fff;
}

.single-layout3 
.single-post-title {
	margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px;
}

.single-layout3 
.single-meta {
	margin-bottom: 16px;
}

.single-layout3 
.single-header .post-share {
    position: absolute;
    left: 0;
    top: -32px;
    bottom: auto;
}

.single-layout3 
.single-header 
.share-button {
    background-color: #FCC04D;
    transition: background .3s;
}

.single-layout3 
.single-header 
.share-button:hover {
    color: #222;
    background-color: #fff;
}

.single-layout3 
.single-header
.post-share-txt::before {
    left: 11px;
    color: #222;
}

.single-layout3 
.single-header 
.post-share-txt:hover::before {
	color: #FCC04D;
}

.single-layout1 
.single-header 
.post-share-txt:hover::before {
    color: #FCC04D;
}

.single-layout3 
.single-header 
.post-share-txt {
    padding-left: 30px;
}

.single-layout3 
.single-post-title.no-thumb {
	margin-bottom: 20px;
}

.single-layout3 
.single-meta.no-thumb {
    margin-bottom: 27px;
}

.single-layout3 
.single-share-icons {
	margin-bottom: 34px;
	overflow: hidden;
}

/*** About Author Styling ***/

#about-author {
	padding-top: 42px;
	margin-bottom: 42px;
	border-top: 1px solid #EAEAEA;
}
 
#author-avatar {
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 14px;
	overflow: hidden;
	border-radius: 80px;
}

#author-text {
	padding-top: 4px;
	overflow: hidden;
}

#author-text p {
	margin-bottom: 12px;
}

#author-name {
	margin-bottom: 7px;
}

#author-name a {
	color: #222;
}

#author-name a:hover {
	color: #FCC04D;
}

#author-icons li {
	float: left;
	margin-right: 14px;
	font-size: 21px;
}

#author-icons a {
	color: #222;
	transition: color .3s;
}

#author-icons a:hover {
	color: #FCC04D;
}

#author-icons 
.facebook-link {
	font-size: 20px;
}

/*** Related Posts Styling ***/

#related-posts 
.small-post {
	width: 372px;
	float: left;
	margin-right: 42px;
}

#related-posts 
.small-post:last-child {
	margin-right: 0;
}

/*** Comments Styling ***/

.bypostauthor 
.comment-author::before {
	padding-right: 5px;
	content: "\f14b";
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
 }

.comment-body {
	position: relative;
	padding-bottom: 34px;
    margin-bottom: 42px;
    border-bottom: 1px solid #EAEAEA;
}

.comment-body
.avatar-wrap {
	position: relative;
	display: block;
	width: 60px;
	height: 60px;
	float: left;
	margin-right: 12px;
	overflow: hidden;
	border-radius: 60px;
}

.pingback 
.avatar-wrap {
	display: none;
}

.comment
.children {
	margin-left: 30px;
}

.comment-contents {
	padding-top: 4px;
	overflow: hidden;
}

.comment-meta {
	margin-bottom: 3px;
	line-height: 23px;
	text-transform: uppercase;
}

.comment-author {
	margin-bottom: 7px;
    font-weight: 700;
    text-transform: none;
    color: #222;
}

.comment-author a {
	color: #222;
}

.comment-author a:hover {
	color: #FCC04D;
}

.comment-date {
	clear: both;
	color: #aaa;
	margin-bottom: 6px;
	font-size: 13px;
}

.comment-date span {
    color: #777;
}

.comment-reply-link {
	position: relative;
	display: inline-block;
    height: 28px;
   	padding-left: 23px;
    margin-top: 10px;
    color: #222;
    font-size: 14px;
    transition: color .3s;
}

.comment-text 
.comment-reply-link {
	text-decoration: none;
}

.comment-reply-link::before {
	position: absolute;
	left: 0;
	top: 1px;
	content: "\f112";
	font-size: 17px;
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
}

.comment-reply-link:hover {
	color: #fff;
}

.comment-text {
	clear: both;
}

.awaiting-mod-txt {
	display: block;
	color: #aaa;
	margin-top: 7px;
}

/*** Comment Form Stylng ***/

#respond 
.section-header {
	margin-bottom: 36px;
}

#commentform {
	position: relative;
	margin-bottom: 52px;
}

#cancel-comment-reply-link {
	position: relative;
	display: inline-block;
	padding-left: 17px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: color .3s;
}

#cancel-comment-reply-link::before {
	position: absolute;
	left: 0;
	top: 0;
	content: "\f00d";
	font-size: 17px;
	font-weight: 400;
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
}

#cancel-comment-reply-link:hover {
	color: #aaa;
}

#respond
.comment-notes,
.logged-in-as {
	margin-top: 12px;
    margin-bottom: 24px;
    color: #aaa;
}

.logged-in-as {
	margin-top: 5px;
	margin-bottom: 15px;
}

#respond
.required {
	color: #FF0000;
    font-weight: 400;
	font-size: 16px;
	line-height: 0;
}

#respond
.comment-form-url {
	margin-right: 0;
}

#author,
#email,
#url,
#comment {
	color: #bbb;
	padding-left: 10px;
	margin-bottom: 18px;
	border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
    font-weight: 400;
	transition: all .3s;
}

#author:focus,
#email:focus,
#url:focus,
#comment:focus {
	outline: none;
    color: #777;
    border-color: #E2E2E2;
	background-color: #fff;
}

#author,
#email,
#url {
	width: 50%;
	height: 42px;
	clear: both;
}

#comment {
	width: 98.4%;
	height: 225px;
	padding: 10px 0 10px 10px;
	line-height: 22px;
}

#respond p label {
	font-size: 13px;
    color: #222;
}

#respond p label,
#respond p label + .required {
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.comment
.form-submit {
	clear: both;
	margin-bottom: 15px;
}

#submit {
    height: 44px;
    padding: 0 24px;
    margin-top: 20px;
    color: #222;
    border: none;
    background-color: #FCC04D;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 46px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}

#submit:hover {
	color: #fff;
	background-color: #222;
}

/*-------------------------------------------*\
	17. Home 2 Featured Slider Styling
\*-------------------------------------------*/

#featured-slider {
	margin-bottom: 42px;
}

#featured-slider,
#featured-slider 
.slides > li {
	position: relative;
	width: 786px;
	height: 551px;
	overflow: hidden;
}

#featured-slider 
.slides > li {
	background-color: #FCC04D;
}

#featured-slider img {
	width: 100%;
	height: auto;
    transition: opacity .4s;
}

#featured-slider 
.slides > li:hover img {
    opacity: .8;
}

/*** Slider Nav Styling ***/

#slider-nav a {
	position: absolute;
	top: 249px;
	z-index: 5;
	display: block;
	width: 53px;
	height: 53px;
	background-color: #fff;
	line-height: 54px;
	text-align: center;
}

#slider-nav 
.flex-next {
	left: 0;
}

#slider-nav 
.flex-prev {
	right: 0;
}

#slider-nav 
.flex-next::before,
#slider-nav 
.flex-prev::before {
	color: #222;
	font-size: 22px;
	font-family: 'FontAwesome';
	transition: color .3s;
	transform: rotate(0.001deg);
}

#slider-nav 
.flex-next::before {
	content: "\f053";
	padding-right: 4px;
}

#slider-nav 
.flex-prev::before {
	content: "\f054";
	padding-left: 4px;
}

#slider-nav 
.flex-next:hover::before,
#slider-nav 
.flex-prev:hover::before {
	color: #FCC04D;
}

/*** Slider Caption Styling ***/

#featured-slider 
.feat-caption {
	position: absolute;
	left: 30px;
	bottom: 60px;
	z-index: 2;
	width: 726px;
}

#featured-slider 
.post-title {
	margin-bottom: 14px;
	font-size: 36px;
    line-height: 44px;
}

#featured-slider 
.feat-caption i {
	color: #fff;
}

/*-------------------------------------------*\
	18. Home 3 Featured Carousel Styling
\*-------------------------------------------*/

#featured-carousel {
	margin-bottom: 42px;
}

#featured-carousel,
#featured-carousel .slides > li {
	position: relative;
	width: 100%;
	height: 551px;
	overflow: hidden;
}

#featured-carousel .slides > li {
	width: 598px;
	background-color: #FCC04D;
}

#featured-carousel img {
	width: 100%;
	height: auto;
	transition: opacity .4s;
}

#featured-carousel 
.slides > li:hover img {
    opacity: .8;
}

/*** Featured Carousel Caption Styling ***/

#featured-carousel 
.feat-caption {
	position: absolute;
	left: 30px;
	bottom: 60px;
	z-index: 2;
	width: 538px;
}

#featured-carousel 
.post-title {
	margin-bottom: 14px;
	font-size: 32px;
    line-height: 40px;
}

#featured-carousel 
.feat-caption i {
	color: #fff;
}

/*-------------------------------------------*\
	19. Page Templates Styling
\*-------------------------------------------*/

#full-width-page,
.page-temp-wrap {
	margin-bottom: 38px;
}

.page-temp-article {
	margin-bottom: 10px;
}

/*** Contact Form 7 Styling ***/

.entry .wpcf7 {
	margin-bottom: 36px;
	overflow: hidden;
}

.wpcf7 p {
	float: left;
	clear: both;
	margin-bottom: 10px;
}

.wpcf7 p:last-child {
	margin-bottom: 0;
}

.wpcf7-form
label {
	display: block;
    margin-right: 8px;
    color: #222;
    font-size: 13px;
    text-transform: uppercase;
}

.wpcf7-text {
	width: 300px;
	height: 38px;
}

.wpcf7-textarea {
	width: 767px;
	height: 240px;
	padding-top: 10px;
}

.wpcf7-text,
.wpcf7-textarea {
	color: #bbb;
    padding-left: 10px;
    margin-bottom: 18px;
    border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: all .3s;
}

.wpcf7-text.wpcf7-not-valid {
	margin-bottom: 2px;
}

.wpcf7-text:focus,
.wpcf7-textarea:focus {
	outline: none;
    color: #777;
    border-color: #E2E2E2;
    background-color: #fff;
}

.wpcf7-response-output {
	float: left;
}

.wpcf7-submit {
	height: 44px;
    padding: 0 24px;
    color: #222;
    border: none;
    background-color: #FCC04D;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 46px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}

.wpcf7-submit:hover {
	color: #fff;
    background-color: #222;
}

input::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
	margin-top:-2px; 
	margin-bottom: -2px; 
}

/*-------------------------------------------*\
	20. Error Page Styling
\*-------------------------------------------*/

.error-content-wrap {
	margin-top: 30px;
	margin-bottom: 70px;
	text-align: center;
}

.error-content-wrap h1 {
	margin-bottom: 20px;
	font-size: 46px;
}

.error-content-wrap h3 {
	margin-bottom: 20px;
}

.error-content-wrap p {
	margin-bottom: 28px;
	color: #9c9c9c;
}

.error-wrap #searchform {
	position: relative;
	width: 432px;
	height: 47px;
	margin: 0 auto 22px auto;
}

.error-wrap #s {
	width: 290px;
    height: 45px;
    color: #aaa;
    padding: 0 120px 0 20px;
    border: 1px solid #EAEAEA;
    background-color: #FBFBFB;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.error-wrap #s:focus {
	color: #777;
	border-color: #E2E2E2;
	background-color: #fff;
	outline: none;
}

.error-wrap #searchsubmit {
	position: absolute;
	right: 3px;
    top: 3px;
    height: 41px;
	color: #222;
	padding: 0 20px;
	border: none;
	background-color: #FCC04D;
	font-size: 15px;
	font-weight: 700;
	line-height: 43px;
	cursor: pointer;
	transition: all .3s;
}

.error-wrap #searchsubmit:hover {
	color: #fff;
	background-color: #222;
}

.go-to-home {
	color: #222;
	font-size: 34px;
	transition: color .3s;
}

.go-to-home:hover {
	color: #FCC04D;
}

/*-------------------------------------------*\
	21. Main Footer Styling
\*-------------------------------------------*/

#main-footer {
	clear: both;
	padding: 50px 0 25px 0;
	color: #fff;
	background-color: #222;
}

#main-footer 
.widget {
	width: 372px;
	float: left;
	margin-right: 42px;
}

#main-footer 
.widget:nth-child(3n) {
	margin-right: 0;
}

#main-footer 
.section-header {
	border-bottom: none;
}

#main-footer 
.section-header::before {
	width: 30px;
}

#main-footer h1, 
#main-footer h2, 
#main-footer h3, 
#main-footer h4, 
#main-footer h5, 
#main-footer h6,
#main-footer 
.post-title a {
	color: #fff;
}

#main-footer 
.post-thumb:hover 
> a::before {
	color: #fff;
	background-color: #222;
}

#main-footer 
.post-share-txt {
	color: #fff;
	background-color: #222;
}

#main-footer 
.post-title a:hover {
    color: #ccc;
}

#main-footer 
.post-meta span {
	color: #fff;
}

/*** Copyright DIV Styling ***/

#copyright-wrap {
	background-color: #333;
}

#copyright {
	height: 70px;
	color: #fff;
	background-color: #333;
	font-size: 14px;
	text-transform: uppercase;
}

#copyright p {
	float: left;
	line-height: 70px;
}

#copyright ul {
	float: right;
}

#copyright ul ul {
	display: none;
}

#copyright li {
	margin-left: 20px;
	float: left;
	line-height: 70px;
}

#copyright a {
	color: #fff;
}

#copyright a:hover {
    color: #ababab;
}

/*** Back To Top Styling ***/

#back-to-top {
	position: fixed;
	right: 40px;
	bottom: 4%;
	z-index: 200;
	display: none;
	width: 52px;
	height: 52px;
	color: #222;
	border-radius: 52px;
	background-color: #FCC04D;
	text-align: center;
	line-height: 51px;
	cursor: pointer;
	transition: all .3s;
}

#back-to-top::before {
	content: "\f077";
	font-size: 20px;
	font-family: 'FontAwesome';
	transform: rotate(0.001deg);
}

#back-to-top:hover {
	color: #fff;
	background-color: #333;
}