/*
Theme Name: Huzi Child
Template: huzi
License: Located in the 'Licensing' folder
License URI: Located in the 'Licensing' folder
Description: Huzi Child Theme.
Author: Promola
Author URI: https://promola.co.za
Theme URI: http://themeforest.net/user/promola
Version: 1.0.2
Tags: two-columns, three-columns, threaded-comments, right-sidebar
Text Domain: huzi
*/

/* Button */
*{
	-webkit-appearance: none;
}

.post-title a {
	color: #042860;
}

/* Nascoste date ??? */
.post-date {
  display: none;
}

/* LOGO HACKS */
#logo a {
  display: block;
  transition: all .2s ease-in-out;
}

#logo a:hover {
  opacity: 0.7;
}

#logo img {
  max-height: 72px;
}

/* HEADER MENU LINK */
#main-nav .current-menu-item > a {
  border-width: 3px;
}

/* HEADER -> Main Sponsor */
#header-elements {
  width: 100%;
  max-width: 186px;
  height: 42px;
  margin-top: 38px;
}

/* HEADER -> Social Share Icons */
#main-header .social-share-icons {
  border: 1px solid #eee;
  padding: 6px 0px 2px 12px;
  top: 56px;
  left: 68px;
}

#main-header .social-share-icons.share-show {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

/* HEADER -> Mobile */
@media screen and (max-width: 1200px) {
  body #main-nav .huzimega,
  body #main-header.stick-it #main-nav .huzimega {
    display: block;
  }
  body #main-nav .huzimega ul {
    padding: 6px 30px 18px 30px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #f6f6f6 !important;
		width: 100%;
		max-width: 100%;
  }
  body #header-elements {
    margin-right: 46px;
    margin-top: 35px;
  }
  body #menu-icon {
    width: 27px;
  }
  body #menu-icon span {
    display: none;
  }
  body #main-nav {
    overflow: hidden;
  }
	#main-header .social-share-icons{
		display: none;
	}
	.wrapper #searchform{
		overflow: hidden;
	}

}
@media screen and (max-width: 700px) {
  body .wrapper {
    width: calc(100% - 24px);
    padding: 0 12px;
  }
  body #header-elements {
    top: 33px;
    right: 71px;
    margin-right: 0;
    margin-top: 0;
  }
  body #menu-icon {
    right: 35px;
    top: 32px;
  }

  body #main-nav,
  body #main-header.stick-it #main-nav {
    top: 80px;
    max-width: none;
    width: 100%;
  }

  body #main-nav .huzimega,
  body #main-header.stick-it #main-nav .huzimega {
    display: block;
    overflow: hidden;
  }
  body #main-header #s {
    width: 100%;
    padding: 0;
    padding-left: 12px;
  }

  body #main-header #searchform {
    top: 80px;
    z-index: 999;
    width: 100%;
    padding: 0;
  }

  body #main-header #searchsubmit {
    right: 32px;
  }

  body #header-elements .fa-close {
    top: 0;
  }
}

/* HEADER -> Animation BG */
#main-header {
  position: relative;
}

@media screen and (max-width: 700px) {
  #main-header {
    margin-bottom: 24px;
    height: 80px;
  }
  #logo {
    line-height: 78px;
  }
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 320px;
  opacity: 1;

  background: linear-gradient(270deg, #ff6464, #042860);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@media screen and (max-width: 1200px) {
  .home .bg-header {
    height: 320px;
  }
}

@media screen and (max-width: 700px) {
  .home .bg-header {
    height: 330px;
  }
}

.bg-header__stripe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./imgs/stripes-bg.png');
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.featured-wrap .feat-post img {
  width: 100%;
  height: auto;
  transition: opacity .4s;
}

.featured-wrap .gradient-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: 10px solid #FF6464;
}

.featured-wrap .post-share-txt {
  left: 11px;
  bottom: 11px;
}

.featured-wrap .post-share .social-share-icons {
  left: 11px;
  bottom: 11px;
}

/* Home Carousel */
#large-feat {
  width: 589px;
  height: 550px;
  background-color: #fff;
}

.feat-post:hover img {
  opacity: 1 !important;
}

.feat-post-carousel ul li.slides__single {
  position: static !important;
}

.feat-post-carousel .flex-control-nav {
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.feat-post-carousel .flex-direction-nav .flex-nav-prev,
.feat-post-carousel .flex-direction-nav .flex-nav-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
}

.feat-post-carousel .flex-direction-nav .flex-nav-prev a:before,
.feat-post-carousel .flex-direction-nav .flex-nav-next a:before {
  font-size: 14px;
  font-family: 'FontAwesome';
  transform: rotate(0.001deg);
}

.feat-post-carousel .flex-direction-nav .flex-nav-prev a:before {
  content: "\f053";
}
.feat-post-carousel .flex-direction-nav .flex-nav-next a:before {
  content: "\f054";
}

.feat-post-carousel .flex-direction-nav a {
  display: block;
  width: 31px;
  height: 31px;
  float: left;
  color: #222;
  border: 1px solid #EAEAEA;
  text-align: center;
  line-height: 31px;
  background-color: #fff;
  font-size: 0px;
}

.feat-post-carousel .flex-direction-nav .flex-nav-prev {
  left: 10px;
}

.feat-post-carousel .flex-direction-nav .flex-nav-next {
  right: 10px;
}

.feat-post-carousel .flex-control-paging {
  display: none;
}

.feat-post-carousel .flex-control-paging li {
  display: inline-block;
  padding-right: 5px;
}

.feat-post-carousel .flex-control-paging li a {
  text-indent: -999999px;
  font-size: 1px;
  display: block;
  width: 11px;
  height: 11px;
  background-color: #042860;
  opacity: 0.5;
  border-radius: 20px;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}

.feat-post-carousel .flex-control-paging li a.flex-active {
  opacity: 1;
}

body .post-title {
  text-transform: uppercase;
}

#large-feat .feat-caption .post-title {
  font-size: 28px;
  margin-bottom: 0;
  line-height: 1.2;
}

#medium-feat .feat-caption .post-title {
  font-size: 21px;
  line-height: 1.2;
  margin-bottom: 0;
}

#small-feat .feat-caption .post-title {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 0;
}

#featured-1 .feat-caption {
  left: 18px;
}

#featured-tag {
  display: none;
}

/* Carousel TABLE */
@media screen and (min-width: 1200px) {
  #large-feat {
    width: 588px;
    margin-right: 14px;
  }
  #medium-feat {
    height: 263px;
    margin-bottom: 14px;
  }
  .small-feat {
    width: 292px;
    margin-right: 14px;
  }
}

@media screen and (max-width: 1200px) {
  .small-feat .post-title {
    font-size: 16px;
    line-height: 1.1;
  }
  #medium-feat .feat-caption .post-title {
    font-size: 18px;
    line-height: 1.1;
  }
  #large-feat .feat-caption .post-title {
    font-size: 24px;
    margin-bottom: 0;
    line-height: 1.1;
  }
  body #featured-1 .feat-caption {
    bottom: 44px;
  }
}

@media screen and (max-width: 700px) {
  body #featured-1,
  body #large-feat {
    width: 95%;
  }
  .feat-post-carousel .flex-direction-nav .flex-nav-prev,
  .feat-post-carousel .flex-direction-nav .flex-nav-next {
    top: 28px;
  }
  .feat-post-carousel .flex-direction-nav .flex-nav-prev {
    left: 11px;
  }

  .feat-post-carousel .flex-direction-nav .flex-nav-next {
    right: 11px;
  }
}

/* Hack, solo per quando il menu è sticky */
#main-header.stick-it #header-elements {
  margin-top: 21px;
}

.header-main-sponsor {
  display: inline-block;
  max-width: 80px;
  padding-right: 18px;
  vertical-align: middle;
  position: relative;
  transition: all .2s ease-in-out;
}

.header-main-sponsor.firenze {
  max-width: 90px;
}

@media screen and (max-width: 700px){
	.header-main-sponsor{
		display: none;
	}
}

.header-main-sponsor:hover {
  opacity: 0.7;
}

.header-main-sponsor span {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 10px;
  color: #777;
  font-weight: 700;
}

.header-main-sponsor img {
  width: 100%;
}

#header-elements .fa-close {
  position: absolute;
  right: 6px;
  top: 21px;
}

/* Categories Columns */
#full-categories-posts {
  letter-spacing: -0.3em;
}

#full-categories-posts section {
  width: 50%;
  margin-right: 0;
  padding-right: 12px;
  padding-left: 12px;
  box-sizing: border-box;
  float: none;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

/* #full-categories-posts section:nth-child(even) {
  padding-right: 0;
} */


.medium-post .post-content.group {
	min-height: 120px;
}

.medium-post {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.2);
  padding: 12px;
  box-sizing: border-box;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

.medium-post:hover {
  -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.3);
}

.medium-post .post-thumb {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  body #full-categories-posts
   .medium-post .post-thumb {
      width: 100%;
  }
}

.medium-post .excerpt {
  display: none;
}

.medium-post .post-comments {
  display: none;
}

.group {
	min-height: 120px;
}

.medium-post .post-content.group h5.post-title {
	font-size: 18px;
	line-height: 1.3;
}

.small-post .post-content.group h6.post-title {
	font-size: 16px;
	line-height: 1.3;
}

.small-post .post-content{
	overflow: visible;
}
@media screen and (max-width: 1200px) {
  body #full-categories-posts .medium-post .post-title {
    font-size: 16px;
    line-height: 1.2;
  }

  .group h6.post-title {
    font-size: 14px;
    line-height: 1.2;
  }
}

/* Post Wrap HACKS */
body .posts-wrap.respo-wrap {
  width: 802px;
  margin: 0 -12px;
}

@media screen and (max-width: 1200px) {
  body .posts-wrap.respo-wrap {
      width: 650px;
  }

  body #full-categories-posts section {
    width: 50%;
    margin-right: 0;
  }
}

@media screen and (max-width: 960px) {
  body .posts-wrap.respo-wrap {
      width: 700px;
      margin: 0 auto;
  }

  body #full-categories-posts section {
    width: 50%;
    margin-right: 0;
  }

  .home #feat-col-2 {
    display: block !important;
    margin-top: 3px;
  }

  .home #feat-col-2 {
    width: 376px;
  }

  .home #feat-col-2 .small-feat {
    width: 186px;
  }

  .home #carousel-wrap {
    display: block !important;
  }
}

@media screen and (max-width: 700px) {
  body .main-post-wrapper.wrapper {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
  }

  body .posts-wrap.respo-wrap {
    width: 100%;
  }

  body .small-post .post-thumb {
    width: 100%;
    float: none;
    height: auto;
  }

  body .small-post .post-thumb img {
    max-width: none;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body #full-categories-posts section {
    width: 100%;
  }
  body .small-post .post-thumb {
    width: 150px;
    float: left;
    height: auto;
  }
}

/* Footer Widgets */
#main-footer {
  padding: 33px 0 0px 0;
  background-color: #042860;
}

#main-footer .about-widget-wrap .about-img {
  margin-bottom: 10px;
}

#main-footer .about-widget-wrap .about-img img {
  max-width: 250px;
}

#main-footer .about-widget-wrap p {
  font-size: 15px;
  line-height: 1.45;
  margin-bottom: 10px;
}

#copyright {
  background-color: #ff6464;
}

/* Footer Widgets -> Sponsor Wrap */
.main-sponsor-wrap,
.sponsor-wrap {
  letter-spacing: -0.3em;
}

.main-sponsor-wrap a,
.sponsor-wrap a {
  display: inline-block;
  width: 100%;
  padding-right: 2%;
  letter-spacing: normal;
  vertical-align: middle;
  padding-bottom: 24px;
  transition: all .2s ease-in-out;
}

.main-sponsor-wrap a:hover,
.sponsor-wrap a:hover {
  opacity: 0.7;
}

.sponsor-wrap a {
  max-width: 48%;
}

.main-sponsor-wrap a {
  max-width: 48%;
}

.sponsor-wrap a img {
  display: inline-block;
  width: 100%;
  max-width: 100px;
}

.sponsor-wrap a.large img {
  display: inline-block;
  width: 100%;
  max-width: 142px;
}

/* Footer -> Credits */
#copyright a.credits {
  font-weight: 700;
}

#copyright a {
  transition: all .2s ease-in-out;
}

#copyright a:hover {
  color: #fff;
  opacity: 0.6;
}

/* SINGLE POST */
@media screen and (max-width: 700px) {
  .single .wrapper {
    width: 98%;
    padding: 1%;
  }
}
.single .posts-wrap {
  background-color: #fff;
  padding: 18px;
  box-sizing: border-box;
}

body .widget-sidebar {
  background-color: #fff;
  padding: 18px;
  box-sizing: border-box;
}
body .social-widget-list li {
  margin-right: 0;
}

body .wd-social-text {
  width: 78px;
  left: 3px;
  border-top: 0;
}

body .social-widget-list a {
  color: #042860 !important;
}

body .single-layout2 .single-header {
  margin-bottom: 24px;
}

body .single-layout2 .single-thumb {
  margin-top: 18px;
  margin-bottom: 24px;
}

/* SINGLE POST -> Related Posts */
#related-posts .small-post {
  margin-right: 0;
}

/* SINGLE POST -> Share Icons */
.single .single-share-icons li span {
  display: none;
}

.single-share-icons .twitter,
.single-share-icons .facebook {
  padding-left: 27px;
}

.single-share-icons .twitter i {
  left: 9px;
}

.single-share-icons .facebook i {
  left: 14px;
}

/* Contatti -> Contact Form 7 */
#full-width-page {
  background-color: #fff;
  padding: 24px;
}
#wpcf7-f6687-p6720-o1.wpcf7{
	display: inline-block;
	padding: 0 6px;
}

.contact-form-intro h6{
	text-align: center;
	padding: 24px 24px 60px 24px;
}


	width: 100%;
	margin: 0 auto;
	max-width: 80%;
}


.entry div{
	width: 100%;
}

body.blog.content-first-row{
	clear: both;
	display: table;
	content: '';
	width: 100%
}

body.blog.content-first-row label{
	width: 48%;
}

.wpcf7-form label{
	margin-right: 0;
	padding: 0 2px;
}

body.blog.content-first-row label:first-child{
	margin-right: 1%;
	float: left;
}

body.blog.content-first-row label:last-child{
	float: right;
}

.wpcf7-text, .wpcf7-textarea
{
  color: #bbb;
  padding-left: 0px;
  border: 1px solid #ff9b9b;
  background-color: #FBFBFB;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  transition: all .3s;
	width: 100%;
	max-width: 100%;
}

.acceptance{
	width: 100%;
	margin: 0 auto;
}

.wpcf7-submit
{
	color: #fff;
}

.wpcf7-submit:hover
{
	background-color: #042860;
}

.section-header
{
	min-height: 18px;
	margin-bottom: 24px;
}

.section-header h6
{
	padding-bottom: 6px;
}

@media screen and (max-width: 700px) {
	.entry div{
	display: block;
	width: 100%;
	}
}

/* BACK TO TOP */
body #back-to-top {
  color: #fff;
  -webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.3);
}

body #back-to-top:hover {
  background-color: #ff9b9b;
}

/* CALENDAR HACKS */
.page-template-full-width #full-width-page .entry {
  background-color: #fff;
  padding: 24px;
}

.page-template-full-width #full-width-page .entry h1 {
  margin-bottom: 36px;
}

@media screen and (max-width: 700px) {
  .page-template-full-width #full-width-page {
    width: 98%;
    padding: 0 1%;
  }
  .page-template-full-width #full-width-page .entry {
    padding: 12px;
  }
}

body .map-buttons {
  list-style: none;
  letter-spacing: -.3em;
  padding: 0;
  margin: 0;
}

.map-buttons .map-single-btn {
  display: inline-block;
  letter-spacing: normal;
  width: 48.5%;
  text-align: center;
  padding-left: 1.5%;
}

.map-buttons .map-single-btn:first-child {
  padding-left: 0;
  width: 50%;
}

.map-buttons .map-single-btn a {
  background-color: #ff6464;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  color: #fff;
  padding: 12px 0;
  line-height: 1;
  transition: all .2s ease-in-out;
}

.map-buttons .map-single-btn a:hover {
  background-color: #ff6464;
  color: #fff;
  opacity: 0.75;
}

.map-buttons .map-single-btn.current a {
  pointer-events: none;
  background-color: #9A4A4A;
}

.mec-single-event .mec-event-content {
  background-color: #fff;
  padding: 20px 30px;
}

.mec-single-event .mec-frontbox {
  background-color: #f7f7f7;
}

.mec-wrap.colorskin-custom .mec-border-color {
  background-color: #ff6464;
  color: #fff;
  font-family: Montserrat,Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.mec-wrap.colorskin-custom .mec-border-color:hover {
  background-color: #9A4A4A;
  color: #fff;
}

.mec-single-event .mec-events-meta-group {
  margin-bottom: 48px;
}

::selection {
  background: #ff6464;
  color: #fff;
}

::-moz-selection {
  background: #ff6464;
  color: #fff;
}

/* Archive */
.archive-header {
  padding: 0 24px;
}

.archive-header h1 {
  background-color: #fff;
  padding: 24px 24px 170px 24px;
  font-size: 36px;
  text-transform: uppercase;
  color: #042860;
  text-align: center;
}

.archive.category #medium-posts {
  margin-top: -150px;
}

@media screen and (max-width: 700px) {
  body.archive #medium-posts .medium-post,
	body.blog #medium-posts .medium-post,
	body.home #featured-1,
	body.home #large-feat {
    width: 100%;
  }

  body.archive #medium-posts .medium-post .post-thumb img {
    width: 100%;
    max-width: none;
  }
}

/* RAD Grid */
.txt-center {
  text-align: center;
}

.rad-row {
  letter-spacing: -0.3rem;
}

.rad-row__column {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
  padding: 0 12px;
}
.tab-6 {
  max-width: 50%;
}

/* Colophon */
.chi-siamo-title {
  padding: 0 36px;
  margin: 0 auto;
  margin-bottom: 42px;
  max-width: 960px;
  text-align: center;
  font-size: 24px;
}

.colophon,
.entry-colophon-double-columns {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 960px;
}

.entry-colophon-double-columns {
  padding: 0 12px;
  padding-top: 42px;
}

.colophon-double-columns {
  column-count: 2;
  line-height: 2;
}

.colophon-double-columns p {
  line-height: 2
}


.colophon__single,
.colophon__single--si-ringraziano {
  margin-bottom: 36px;
}

.colophon__single--si-ringraziano {
  background-color: #f6f6f6;
  padding: 12px;
}

.colophon__single-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #042860;
  border-bottom: 1px dotted #999;
  padding: 0;
  margin-bottom: 12px;
}

.colophon__single-li {
  padding-bottom: 3px;
}
/*
body .mec-search-form.mec-totalcal-box{
	display: none;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav{
  height: 100%;
	z-index: -1;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-prev,
body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-next {
  height: 85%;
	top: 4%;
  display: flex;
  align-items: center;
	justify-content: center;
	border: 0;
	background-color: transparent;
	box-shadow: none;
  margin: auto 0;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-prev{
	left: -34px;
}
body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-next{
	right: -34px;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav i {
  color: #FF6464;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-prev:hover,
body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-next:hover {
	background-color: #FF6464;
	opacity: 0.8;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-prev:hover i,
body .mec-widget .mec-event-grid-classic.mec-owl-carousel .owl-nav .owl-next:hover i{
	color: #ffffff;
}

body .mec-event-grid-classic .mec-event-article {
  position: relative;
  border: 0;
  box-shadow: none;
  margin-bottom: 30px;
  max-width: none;
}

body .mec-event-footer {
  position: relative;
  border-top: none;
  min-height: 80px;
  margin: 0;
	padding: 20px 6px;
  background: transparent;
	display: flex;
	justify-content: space-between;
}

body .mec-event-sharing-wrap {
  left: 0px;
  position: relative;
}

body .mec-widget .mec-event-grid-classic.mec-owl-carousel .mec-event-footer .mec-booking-button {
  position: relative;
  padding: 10px 16px;
}

body .mec-event-sharing-wrap>li {
  border: 1px solid #ff6464;
}

body.mec-event-sharing-wrap li i {
  color: #042860;
}

body .mec-event-footer .mec-booking-button {
  letter-spacing: 1px;
  background: transparent;
  color: #042860;
  border: 1px solid #ff6464;
  top: 0px;
  right: 0px;
  padding: 0 16px;
  line-height: 16px;
}

body .mec-event-footer .mec-booking-button:hover{
	background-color: #ff6464;
	border: 1px solid #ff6464;
}

body .mec-event-grid-classic .mec-event-content p {
  color: #042860;
} */


.sidebar-latest-events{
	padding-bottom: 30px;
}

.sidebar-latest-events__list-item{
	text-align: center;
}

.sidebar-latest-events__list-item img{
	transition: all 0.2s ease-in-out;
}


.sidebar-latest-events__list-item:hover img{
	opacity: 0.8;
}

.sidebar-latest-events__list-item span{
	color: #ff6464;
}

.sidebar-latest-events__title{
	text-align: center;
	color: #042860;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 12px 0;
}

.sidebar-latest-events__img{
	width: 100%;
}

.sidebar-latest-events__page-link{
	position: relative;
	margin-top: 18px;
}

.sidebar-latest-events__page-link a{
	display: block;
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
	text-align: center;
	color: #042860;
	border: 1px solid #ff6464;
	padding: 6px 18px;
	transition: all 0.2s ease-in-out;
}

.sidebar-latest-events__page-link a:hover{
	background-color: #ff6464;
	color: #ffffff;
}

.flex-direction-nav{
	position: relative;
  top: -30px;
}

.flex-nav-prev {
	font-size: 24px;
  position: absolute;
  left: 0;
  top: 0;
}

.flex-nav-next {
	font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
